<div id="form_recurring">
  <%= simple_form_for @black_out, :remote => true do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= hidden_field_tag "recurring", true %>
    <%= f.collection_check_boxes :days, days_of_the_week_short_with_index, :first, :last, options = { :collection_wrapper_tag => 'div', :collection_wrapper_class => 'row' } %>
    
      <%= render :partial => 'form', :locals => {:f => f} %>

  <% end %>
</div>
