<%= simple_form_for @black_out do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  
    <%= hidden_field_tag "recurring", true %>
    
  <%#= f.collection_check_boxes :options, [[0, 'Sun'], [1, 'Mon'], [2, 'Tues'], [3, 'Wed'], [4, 'Thurs'], [5, 'Fri'], [6, 'Sat']], :first, :last %>

    <p>
      <% days_of_the_week_short.each_with_index do |day, i| %>
        <%= check_box_tag "days[]", i, false, {:id => "days_#{i}"} %>
        <%= day %>
      <% end %>
    </p>
    <%= render :partial => 'form', :locals => {:f => f} %>

<% end %>
