<%= simple_form_for(@black_out) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :equipment_model, :collection => EquipmentModel.all.map{|em| [em.name,em.id]}.unshift(["All models",0]) %>


    <%= label_tag :start_date, 'Start of black out' %>
      <%= datepicker_input "black_out", "start_date", :value => @black_out[:start_date].strftime('%m/%d/%Y') %>

    <%= label_tag :end_date, 'End of black out' %>
      <%= datepicker_input "black_out", "end_date", :value => @black_out[:end_date].strftime('%m/%d/%Y') %>
    <%= f.input :notice %>
    <%= f.select :black_out_type, [['Blackout',1],['Notice Only',2]]   %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
