<% title "Blackout of " + (@black_out.equipment_model_id == 0 ? "All Equipment Objects" : EquipmentModel.include_deleted.find(@black_out.equipment_model_id).name) %>

<%# Setting black-outs on a per-model basis has been disabled %>
<!--<p> 
  <b>Equipment model affected:</b>
  <%# (@black_out.equipment_model_id == 0) ? "All Equipment Models" : EquipmentModel.include_deleted.find(@black_out.equipment_model_id).name %>
</p> -->

<p>
  <b>Start date:</b>
  <%= @black_out.start_date.strftime('%m/%d/%Y') %>
</p>

<p>
  <b>End date:</b>
  <%= @black_out.end_date.strftime('%m/%d/%Y') %>
</p>

<p>
  <b>Notice:</b>
  <%= @black_out.notice %>
</p>

<p>
  <b>Last Edited by:</b>
  <%= User.include_deleted.find(@black_out.created_by).name %>
</p>

<p>
  <b>Type:</b>
  <%= @black_out[:black_out_type] == "hard" ? "Hard Black Out" : "Notice Only" %>
</p>


<%= link_to 'Edit', edit_black_out_path(@black_out) %> |
<%= link_to 'View all blackout dates', black_outs_path %>
