<thead>
<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Category</th>
  <th>Late Fee</th>
  <th>Replacement Fee</th>
  <th>Reason</th>
</tr>
</thead>
<tbody>
  <% equipment_models.each do |equipment_data| %>
    <% equipment = equipment_data.first %>
    <% message = equipment_data.last %>
    <tr>
      <td><%= equipment[:name] %></td>
      <td><%= equipment[:description] %></td>
      <td><%= equipment[:category] %></td>
      <td><%= equipment[:late_fee] %></td>
      <td><%= equipment[:replacement_fee] %></td>
      <td><%= message %></td>
    </tr>
  <% end %>
</tbody>

