<% title "Import Summary" %>

<% if @hash_of_statuses %>
  <% unless @hash_of_statuses[:fail].empty? %>
    <h2>Equipment not successfully imported</h2>
    <table class="datatable-wide table table-striped table-bordered" id="user_import_errors_table">
      <%= render :partial => 'import_table', :locals => {:equipment_model => @hash_of_statuses[:fail]} %>
    </table>
    <% unless @hash_of_statuses[:success].empty? %>
      <hr />
    <% end %>
  <% end %>

  <% unless @hash_of_statuses[:success].empty? %>
    <h2>Equipment successfully imported</h2>
    <table id="table_woo" class="datatable-wide table table-striped table-bordered">
		  <thead>
		  <tr>
		    <th>Name</th>
		    <%= "<th>Type</th>".html_safe unless @category %>
		  <%# these blank TH's necessary for the sort function %>
		  <% if current_user.is_admin?(:as => 'admin') %>
		    <th class="no_sort"> </th>
		    <th class="no_sort"> </th>
		  <% end %>
		  </tr>
		  </thead>
		  <tbody>
		  <% for equipment_model in @hash_of_statuses[:success]} %>
		    <tr>
		      <td><%= link_to equipment_model.name, equipment_model %></td>
		      <%= ("<td>" + (link_to equipment_model.category.name.singularize, equipment_model.category) + "</td>").html_safe unless @category %>
		      <% if current_user.is_admin?(:as => 'admin') %>
		        <td><%= link_to "Edit", edit_equipment_model_path(equipment_model), :class => "btn" %></td>
		        <td>
		        <% if equipment_model.deleted_at %>
		          <%= make_activate_btn(:equipment_models,equipment_model) %>
		        <% else %>
		          <%= make_deactivate_btn(:equipment_models,equipment_model) %>
		        <% end %>
		        </td>
		      <% end %>
		    </tr>
		  <% end %>
		  </tbody>
		</table>
  <% end %>
<% else %>
  <h2>Please follow <%= link_to "this link", :controller => :import_equipment_models, :action => :import_page %> to import equipment.</h2>
<% end %>
