<table class="datatable-wide table table-stripped table-bordered">
  <thead>
    <tr>
      <!-- <th>Equipment model</th> --> <%# Setting black-outs on a per-model basis has been disabled %>
      <% if request.path == blackouts_path %>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Recurring?</th>
      <% elsif params[:action] == "show" %>
        <th>Date</th>
      <% end %>
      <th>Notice</th>
      <th>Last Edited By</th> <%#This field cannot be manually updated. %>
      <th>Type</th>
      <% unless params[:action] == "show" %>
        <th class="no_sort"></th> <%# show %>
      <% end %>
      <th class="no_sort"></th> <%# edit %>
      <th class="no_sort">
        <% if params[:action] == "show" %>
          <%= link_to "Delete all", destroy_recurring_blackout_path, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-danger' %>
        <% end %>
      </th> <%# destroy %>
    </tr>
  </thead>
  <tbody>
    <% blackouts.each do |blackout| %>
      <tr>
        <!-- <td><%# (blackout.equipment_model_id == 0) ? "All Equipment Models" : EquipmentModel.find(blackout.equipment_model_id).name %></td> -->
        <td>
          <% if params[:action] == "show" %>
            <%= link_to blackout[:start_date].strftime('%m/%d/%Y'), blackout %>
          <% else %>
            <%= blackout[:start_date].strftime('%m/%d/%Y') %>
          <% end %>
        </td>
        <% if request.path == blackouts_path %>
          <td><%= blackout[:end_date].strftime('%m/%d/%Y') %></td>
          <td>
            <% if blackout.set_id.nil? %>
              No
            <% else %>
              Yes
            <% end %>
          </td>
        <% end %>
        <td><%= blackout.notice %></td>
        <td><%= User.find((blackout[:created_by])).name %></td>
        <td><%= blackout[:blackout_type] == "hard" ? "Hard Blackout" : "Notice Only" %></td>
        <% unless params[:action] == "show" %>
          <td><%= link_to 'Show', blackout, class: 'btn btn-inverse' %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_blackout_path(blackout), class: 'btn' %></td>
        <td><%= link_to 'Delete', blackout, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
