Hi <%= @reservation.reserver.name %>,
<br />

<p>This is a receipt for your equipment return. </p>

<p>Equipment returned: <%= @reservation.equipment_model.name%> (<%= @reservation.equipment_object.name %>)</p>
<p>Checkout date: <%= @reservation.checked_out.strftime(" %B %e, %Y at %l:%M%P") %></p>
<p>Return date: <%= @reservation.checked_in.strftime(" %B %e, %Y at %l:%M%P") %></p>

<% unless @reservation.notes.blank? %>
  Notes: <%= markdown(@reservation.notes) %>
<% end %>

<% if @reservation.due_date + 1.day <= @reservation.checked_in.to_date %>
  <p>
    Since the equipment was returned late, you will be charged a late fee of
    <%= number_to_currency(@reservation.equipment_model.late_fee) %> per day,
    for a total of <%= number_to_currency(((@reservation.checked_in.to_date - @reservation.due_date)).to_i*(@reservation.equipment_model.late_fee))%>.
  </p>
<% end %>

<p>You can view your <%= link_to 'updated reservation here', reservation_url(@reservation, only_path: false) %>.</p>



Sincerely, <br />
<%= @app_configs.department_name %>
