<%= form_for @equipment_object do |f| %>
  <%= f.error_messages %>
  <% if @equipment_model %>
    <%= f.hidden_field :equipment_model_id, :value => @equipment_model.id %>
  <% else %>
    <p>
      <%= f.label :equipment_model_id %><br />
      <%= f.select :equipment_model_id, EquipmentModel.not_deleted.select_options, :prompt => true %>
    </p>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :Disabled %><br />
    <%= f.check_box :deleted_at, (@equipment_object.deleted_at.blank? ? {:checked => false} : {:checked => true}), Time.now, nil %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
