<% title (@equipment_model.nil? ? "Equipment Objects" : @equipment_model.name.pluralize) %>

<table id="equipment_model_table">
  <tr>
    <th>Name</th>
    <th>Serial (optional)</th>
    <th>Status</th>
  </tr>
  <% for equipment_object in @equipment_objects %>
    <tr>
      <td><%= link_to equipment_object.name, equipment_object %></td>
      <td><%=h equipment_object.serial %></td>
      <td><%= equipment_object.status %></td>
      <td><%= link_to "Edit", edit_equipment_object_path(equipment_object) %></td>
      <td><%= link_to "Destroy", equipment_object, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<% if @equipment_model %>
  <p>
    <%= add_equipment_object_link("Add new "+@equipment_model.name.singularize) %>
  </p>
<% end %>

<p>
  <% if @equipment_model %>
    <%= link_to ("New "+@equipment_model.name.singularize), new_equipment_model_equipment_object_path(@equipment_model) %> |
    <%= link_to "View All Equipment Objects", equipment_objects_path %>
  <% else %>
    <%= link_to "New Equipment Object", new_equipment_object_path %>
  <% end %>
</p>
