<% title (@equipment_model.nil? ? "Equipment Items" : @equipment_model.name.pluralize) %>

<table id="table_woo" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Equipment Model</th>
    <th>Item Name</th>
    <th>Serial (optional)</th>
    <th>Status</th>
<%# these blank TH's necessary for the sort function %>
  <% if current_user.is_admin_in_adminmode? %>
    <th class="no_sort"> </th>
    <th class="no_sort"> </th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% for equipment_object in @equipment_objects %>
    <% if equipment_object.deleted_at %>
      <tr class="deactivated">
      <% @toggle = "link_to \"Activate\", activate_path(:equipment_objects,equipment_object), :class => \"btn btn-success\", :method => :put" %>
    <% else %>
      <tr class= "activated">
      <% @toggle = "link_to \"Deactivate\", deactivate_path(:equipment_objects,equipment_object), :class => \"btn btn-danger\", :method => :put" %>
    <% end %>
      <td><%= link_to equipment_object.equipment_model.name, equipment_object.equipment_model %></td>
       <% if current_user.is_admin_in_adminmode? %>
         <td><%= link_to equipment_object.name, equipment_object %></td>
       <% else %>
         <td> <%=equipment_object.name%> </td>
       <% end %>
      <td><%= equipment_object.serial %></td>
      <td><%= equipment_object.status %></td>
      <% if current_user.is_admin_in_adminmode? %>
        <td><%= link_to "Edit", edit_equipment_object_path(equipment_object), :class => "btn" %></td>
        <td><%= eval @toggle %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<hr />

<% if current_user.is_admin_in_adminmode? %>

  <div class="form-actions">
    <% if @equipment_model %>
     <%= link_to ("New "+@equipment_model.name.singularize), new_equipment_model_equipment_object_path(@equipment_model) %>
     <%= link_to "View All Equipment Objects", equipment_objects_path %>
    <% else %>
      <%= link_to "New Equipment Object", new_equipment_object_path, :class => "btn btn-primary" %>
    <% end %>

    <% if params[:show_deleted] %>
      <%= link_to "Hide Deactivated Objects", equipment_objects_path, :class => "btn" %>
    <% else %>
      <%= link_to "Show Deactivated Objects", equipment_objects_path(:show_deleted => true), :class => "btn" %>
    <% end %>
  </div>

<% end %>
