<% title "Equipment Object" %>

<p>
  <strong>Name:</strong>
  <%= @equipment_object.name %>
</p>
<% unless @equipment_object.serial.nil? or @equipment_object.serial == "" %>
  <p>
    <strong>Serial:</strong>
    <%= @equipment_object.serial %>
  </p>
<% end %>
<p>
  <strong>Equipment Model:</strong>
  <%= link_to @equipment_object.equipment_model.name, @equipment_object.equipment_model %>
</p>
<p>
  <strong>Status:</strong>
  <%= @equipment_object.status %>
</p>

<p>
  <%= link_to "Edit", edit_equipment_object_path(@equipment_object) %> |
  <%= link_to "Destroy", @equipment_object, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", equipment_objects_path %>
</p>
