<% title "Equipment Item for #{@equipment_object.equipment_model.name}" %>

<p>
  <strong>Name:</strong>
  <%= @equipment_object.name %>
</p>
<% unless @equipment_object.serial.nil? or @equipment_object.serial == "" %>
  <p>
    <strong>Serial:</strong>
    <%= @equipment_object.serial %>
  </p>
<% end %>
<p>
  <strong>Equipment Model:</strong>
  <%= link_to @equipment_object.equipment_model.name, @equipment_object.equipment_model %>
</p>
<p>
  <strong>Status:</strong>
  <%= @equipment_object.status %>
</p>

<%# NOTES %>
<div class="row">
  <div class="col-md-12">
    <% unless @equipment_object.notes.blank? %>
      <hr>
      <h3>Notes</h3>
      <div class='notes-container'><%= markdown(@equipment_object.notes) %></div>
    <% end %>
  </div>
</div>

<hr>
<%= link_to "Edit", edit_equipment_object_path(@equipment_object), class: 'btn btn-default' %>
<%= equipment_object.make_deactivate_btn %>
<%= link_to "View All", equipment_objects_path, class: 'btn btn-default' %>
