<% title "Equipment Item for #{@equipment_object.equipment_model.name}" %>

<p>
  <strong>Name:</strong>
  <%= @equipment_object.name %>
</p>
<% unless @equipment_object.serial.nil? or @equipment_object.serial == "" %>
  <p>
    <strong>Serial:</strong>
    <%= @equipment_object.serial %>
  </p>
<% end %>
<p>
  <strong>Equipment Model:</strong>
  <%= link_to @equipment_object.equipment_model.name, @equipment_object.equipment_model %>
</p>
<p>
  <strong>Status:</strong>
  <%= @equipment_object.status %>
</p>
<div class="form-actions">
  <%= link_to "Edit", edit_equipment_object_path(@equipment_object), class: 'btn' %>
  <%= link_to "Destroy", @equipment_object, :confirm => 'This will permanently delete the Item from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete, class: 'btn btn-danger' %>
  <%= link_to "View All", equipment_objects_path, class: 'btn' %>
</div>