<% title "Requirements" %>


<table class="datatable-wide table table-stripped table-bordered">
  <thead>
  <tr>
      <th>Equipment Model</th>
      <th>Contact Person</th>
      <th>Contact Information</th>
      <th class="no_sort"></th> <%# show %>
      <th class="no_sort"></th> <%# edit %>
      <th class="no_sort"></th> <%# destroy %>
  </tr>
  </thead>
  <tbody>
    <% @requirements.each do |requirement| %>  
      <tr>
        <td><%= EquipmentModel.find(requirement.equipment_model_id).name %></td>
        <td><%= requirement.contact_name %></td>
        <td><%= requirement.contact_info %></td>
        <td><%= link_to 'Show', requirement, class: 'btn' %></td>
        <td><%= link_to 'Edit', edit_requirement_path(requirement), class: 'btn' %></td>
        <td><%= link_to 'Destroy', requirement, class: 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New Requirement', new_requirement_path, class: 'btn btn-primary' %>
</div>

<br />



<%# In the past, a list of all users who had been granted special permissions was inlcuded here. This feature has been removed since version 3.0.0 %>
<%#
<h1>Listing users with special permission</h1>

<table>
  <tr>
    <th>User</th>
    <th>Equipment Model</th>
  </tr>

<%# Requirement.get_users_with_permissions.each do |user| 
  
  <tr>
    <td><%#user.name </td>
    <td><%# Requirement.get_all_ems_for_user(user).join(", \n") </td>
    <td><%# link_to 'Show', MetRequirement.where(:user_id => user.id).first  </td>
    <td><%# link_to 'Edit', edit_met_requirement_path(MetRequirement.where(:user_id => user.id).first) </td>   
  </tr>
<%# end 
</table>



<br />

 
<%# link_to 'New Met Requirement', new_met_requirement_path %>
