<% title "Requirements for #{EquipmentModel.find(@requirement.equipment_model_id).name}" %>

<p id="notice"><%= notice %></p>

<p>In order for a user to check out this model of equipment, they must have completed proper training. Once a user has completed necessary training, you may add the equipment they are qualified to use from their User Edit page.</p>
</br>
<p>
  <b>Equipment Model:</b>
  <%= EquipmentModel.find(@requirement.equipment_model_id).name %>
</br>
  <b>Contact name:</b>
  <%= @requirement.contact_info %>
  </br>
  <b>Contact info:</b>
  <%= @requirement.contact_name %> 
</p>

<!--
<ul id="reqSteps" data-update-url="<%# sort_requirement_steps_url%>">
  <%# @reqSteps.each do |reqStep| %>
    <%# content_tag_for :li, reqStep do %>
      <%# link_to h(reqStep[:step]), reqStep %>
    <%#end%>
  <%# end %>
</ul>
-->
<div class="form-actions">
  <%= link_to 'Edit', edit_requirement_path(@requirement), class: 'btn' %>
  <%= link_to 'Back', requirements_path, class: 'btn' %>
</div>