<% title "Edit Application Settings" %>

<% form_tag update_app_config_path do %>
  <p>
    <%= label_tag "Admin email address" %><br />
    <%= text_field_tag :admin_email, Settings.admin_email %>
  </p>
  <p>
    <%= label_tag "Department name" %><br />
    <%= text_field_tag :department_name, Settings.department_name %>
  </p>
  <p>
    <%= submit_tag "Save changes" %>
  </p>
<% end %>