<% title "Edit Application Settings" %>

<% form_tag update_app_config_path do %>
  <p>
    <%= label_tag "Admin email address" %><br />
    <%= text_field_tag :admin_email, Settings.admin_email %>
  </p>
  <p>
    <%= label_tag "Department name" %><br />
    <%= text_field_tag :department_name, Settings.department_name %>
  </p>
  <p>
    <%= label_tag "Upcoming checkout email body" %><br />
    <%= text_area_tag :upcoming_checkout_email_body, Settings.upcoming_checkout_email_body %>
  </p>
  <p>
    <%= label_tag "Upcoming checkin email body" %><br />
    <%= text_area_tag :upcoming_checkin_email_body, Settings.upcoming_checkin_email_body %>
  </p>
  <p>
    <%= label_tag "Overdue checkout email body" %><br />
    <%= text_area_tag :overdue_checkout_email_body, Settings.overdue_checkout_email_body %>
  </p>
  <p>
    <%= label_tag "Overdue checkin email body" %><br />
    <%= text_area_tag :overdue_checkin_email_body, Settings.overdue_checkin_email_body %>
  </p>
  <p>
    <%= submit_tag "Save changes" %>
  </p>
<% end %>