<div id ="searchbox" class ="well" >
  <%= form_tag find_users_path do %>
    <%= label_tag :searched_id, 'Find User' %>
    <%= autocomplete_field_tag 'fake_searched_id','', autocomplete_user_last_name_reservations_path,
      :size => 30, :update_elements => {:id => '#searched_id'}, :class => 'submittable span2' %>
    <%= hidden_field_tag 'searched_id' %>
    <%= submit_tag "Find User", :class => "btn" %>
  <% end %>
</div>
