<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br />
    <%= @user.login %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :affiliation, "Affiliation (including college, year, etc)" %><br />
    <%= f.text_field :affiliation %>
  </p>
  <% if current_user and current_user.is_admin? %>
    <p>
      <%= f.label :is_banned %><br />
      <%= f.check_box :is_banned %>
    </p>
    <p>
      <%= f.label :is_admin %><br />
      <%= f.check_box :is_admin %>
    </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
