<%= simple_form_for @user, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <% if current_user and (current_user.is_admin_in_adminmode? or ((current_user.is_admin_in_checkoutpersonmode? or current_user.is_checkout_person?) and @user.id == NIL)) %>
    <%= f.input :login %>
    <% else %>
      <%= f.input :login, :readonly => true, :input_html => {:value => @user.login}%>
    <%end %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nickname %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :affiliation, label: "Affiliation", hint: "including college, year, etc"%>
    
  <% if current_user and current_user.is_admin_in_adminmode? %>
      <%= f.input :is_banned %>
      <%= f.input :is_checkout_person %>
      <%= f.input :is_admin %>
      <%= f.input :deleted_at, label: "Disabled", :as => :deleted %>
  <% end %>
  <div class="form-actions">
  <%= f.button :submit %>
  </div>
<% end %>
