<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <% if @cas_auth %>
    <% if @can_edit_username %>
      <%= f.input :username %>
    <% else %>
        <%= f.input :username, readonly: true, input_html: {value: @user.username} %>
    <% end %>
  <% else %>
    <%= f.input :email, required: true, autofocus: true %>
    <% if ['new', 'create'].include?(action_name) %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
    <% elsif current_user.id == @user.id %>
      <%= f.input :password, autocomplete: 'off', hint: 'Leave it blank if you don\'t want to change it', required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: 'We need your current password to confirm your changes', required: true %>
    <% end %>
  <% end %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :nickname %>
  <% if AppConfig.check(:require_phone) %>
    <%= f.input :phone, required: true, hint: 'Format like (555) 555-5555' %>
  <% else %>
    <%= f.input :phone, hint: 'Format like (555) 555-5555' %>
  <% end %>
  <%= f.input :email if @cas_auth %>
  <%= f.input :affiliation, hint: 'Including college, year, etc' %>

  <%= hidden_field_tag(:from_cart, false) %>
  <%= hidden_field_tag(:partial_to_render, 'form') %>

  <%= render partial: 'terms_of_service/user_accepted', locals: {f: f} unless action_name == 'new' %>

  <% if can? :manage, User %>
    <%# TODO: Make this a fancy box %>
    <%= f.association :requirements, collection: Requirement.all.map{|req| [req.description,req.id]}, label: 'Requirements user has satisfied' %>
    <%= f.input :role, collection: (can? :appoint, :superuser) ? ['normal', 'checkout', 'admin', 'superuser', 'banned'] : ['normal', 'checkout', 'admin', 'banned'], placeholder: 'normal' %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if @user %>
        <%= f.button :submit, cancel: @user %>
      <% else %>
        <%= f.button :submit, cancel: root_path %>
      <% end %>
    </div>
  </div>

<% end %>
