<table id=<%= "res-history-#{key}" %> class="datatable table table-striped table-bordered">
  <thead>
  <tr>
    <th>Reservation #</th>
    <th>Equipment</th>
    <% unless [:future, :missed].include?(key) %>
      <th>Item</th>
    <% end %>
    <th>Start Date</th>
    <% if key.to_s.include?('past') %>
      <th>Checked In</th>
    <% else %>
      <th>Due Date</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% value.each do |reservation| %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <td><%= link_to reservation.equipment_model.name, reservation.equipment_model %></td>
      <% unless [:future, :missed].include?(key) %>
        <td>
          <% unless reservation.equipment_item.nil? %>
            <%= link_to_if (can? :manage, Reservation), reservation.equipment_item.name %>
          <% end %>
        </td>
      <% end %>
      <td><%= reservation.start_date.to_s(:long) %></td>
      <% if key.to_s.include?('past') %>
        <td><%= reservation.checked_in.to_s(:long) %></td>
      <% else %>
        <td><%= reservation.due_date.to_s(:long) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
