<thead>
<tr>
  <th>Login</th>
  <th>Name</th>
  <th>Phone</th>
  <th>Email</th>
  <th>Reason</th>
</tr>
</thead>
<tbody>
  <% users.each do |user_data| %>
    <% user = user_data.first %>
    <% message = user_data.last %>
    <tr>
      <td><%= user[:login] %></td>
      <td><%= user[:first_name] + ' ' + user[:last_name] %></td>
      <td><%= user[:phone] %></td>
      <td><%= user[:email] %></td>
      <td><%= message %></td>
    </tr>
  <% end %>
</tbody>

