<%= CSV.foreach(@file.path) do |f| %>
    <tr >
      <td class="activable"><%=f.text_field(:users, :login, :class => "table_field") %></td>
      <td class="activable"><%=f.text_field(:first_name, "index"=>@users.index(@user), :class => "table_field")%></td>
      <td class="activable"><%=f.text_field(:nick_name, "index"=>@users.index(@user), :class => "table_field")%></td>
      <td class="activable"><%=f.text_field(:last_name, "index"=>@users.index(@user), :class => "table_field", :id=>"lname_table_field")%></td>
      <td class="activable"><%=f.text_field(:email, "index"=>@users.index(@user), :class => "table_field", :id => "email_table_field")%></td>
      <td class="activable"><%=f.text_field(:employee_id, "index"=>@users.index(@user), :class => "table_field")%></td>
      <td class="small_select"><%=f.select(:role,  @department.roles.collect{|r| r.name}, {}, {:index=>@users.index(@user)})%></td>
    </tr>
  <%end%>
