<table id="table_users" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Username</th>
    <th>First Name</th>
    <th>Nickname</th>
    <th>Last Name</th>

    <% if can? :view, :roles %>
      <th>Role</th>
    <% end %>
    <% if can? :manage, User %>
      <th class="no_sort"> </th>
      <th class="no_sort"> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% for user in users %>
    <tr>
    <td><%= user.username %></td>
    <td><%= link_to user.first_name, user %></td>
    <td><%= link_to user.nickname, user %></td>
    <td><%= link_to user.last_name, user %></td>
    <% if can? :view, :roles %>
      <td><%= user.role %></td>
    <% end %>
    <% if can? :manage, User %>
      <td><%= link_to "Edit", edit_user_path(user), :class => btn btn-default %></td>
      <td><%= make_ban_btn(user) %></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
