<% title "Users" %>

<table id="table_woo">
  <thead>
  <tr>
    <th>NetID</th>
    <th>Name</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <% for user in @users %>
    <tr>
      <td><%= user.login %></td>
      <td><%= link_to user.name, user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "New User", new_user_path %></p>
