<% title @user.first_name + " " + (!@user.nickname.blank? ? "(#{@user.nickname}) " : "") + @user.last_name %>
<% subtitle @user.login %>

<% if current_user.can_checkout? %>
  <div class="row">
    <div class="span9">
      <%= render :partial => 'reservations/top_buttons', :locals => {:reserver => @user} %>
    </div>
  </div>
  <hr>
<% end %>

<div class="row">
  <div id="bool_labels" class="span9">
    <% if current_user.is_admin_in_adminmode? %>
      <%= "<span class=\"user_label label-important\">Banned</span>".html_safe if @user.is_banned? %>
      <%= "<span class=\"user_label label-warning\">Deactivated</span>".html_safe if @user.deleted_at %>
      <%= "<span class=\"user_label label-success\">Admin</span>".html_safe if @user.is_admin? %>
      <%= "<span class=\"user_label\">Checkout Person</span>".html_safe if @user.is_checkout_person? %>
    <% end %>
  </div>
</div>


<div class="row">
  
  
  <dl id="user_info" class="dl-horizontal span4">
    <div class="well">
    <dt>Login</dt>
    <dd><%= @user.login %></dd>
    
    <dt>First Name</dt>
    <dd><%= @user.first_name %></dd>
    
    <dt>Last Name</dt>
    <dd><%= @user.last_name %></dd>
    
    <dt>Nickname</dt>
    <dd><%= !@user.nickname.blank? ? @user.nickname : "(none)" %></dd>
    
    <dt>Phone</dt>
    <dd><%= @user.phone %></dd>
    
    <dt>Email</dt>
    <dd><%= mail_to @user.email, @user.email %></dd>
    
    <dt>Affiliation</dt>
    <dd><%= @user.affiliation %></dd>
    </div>
  </dl>
  
  <div id="user_stats" class="span5">
    
  <% @show_equipment.each do |key, value| %>
    <%= content_tag :div, :id => "#{key}_count", :class => 'span2' do %>
      <%= content_tag :h4, key.to_s.titleize %>
      <%= content_tag :div, :class => "#{key}_num" do %>
        <%= content_tag :i, nil, :class => stats_icons(key) %>
        <%= value.size %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>

<%# TODO: Make this prettier %>
<% unless @user.requirements.empty? %>

  <div class="row">
    <div class="span9">
      <h2>Equipment Qualifications</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <div id="qualif_box" class="span9">
      <ul id="qualifications">
        <% @user.requirements.each do |req| %>
          <li><i class="icon-ok"></i><%= link_to req.description, req %></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="span9">
    <h2>
      History
      <% if !current_user.can_checkout? %>
        <%= link_to 'Current Reservations', current_reservations_for_user_path(@user.id), :id => 'current_activity', :class => 'btn btn-inverse' %>
      <% end %>
    </h2>
  </div>
</div>
<hr />


<div class="row">
  <div class="tabbable tabs-left span9">
  
    <ul class="nav nav-tabs">
      <% @show_equipment.each do |key, value| %>
        <%= content_tag :li, :class => active_tab(key) do %>
          <%= link_to "##{key.to_s}", :class => 'tab-text', :"data-toggle" => 'tab' do %>
            <%= key.to_s.titleize %>
            <%= content_tag :span, value.size, :class => 'badge tab-badge' %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    
    <div class="tab-content">
      <% @show_equipment.each do |key, value| %>
        <p>
          <%= content_tag :div, {:class => "tab-pane #{active_tab(key)}", :id => key}, false do %>
            <% unless value.empty? %>
              <%= render partial: 'history_table', locals: { :key => key, :value => value } %>
            <% end %>
          <% end %>
        </p>
      <% end %>
      
    </div>
    
  </div>
</div>


<div class="form-actions">
  <%= link_to "Edit Information", edit_user_path(@user), :class => 'btn' %>
  <% if current_user.is_admin_in_adminmode? %>
    <% if @user.deleted_at %> 
      <%= link_to "Activate User", activate_path(:users,@user.id), :class => "btn btn-success", :method => :put %>
    <% else %>
      <%= link_to "Deactivate User", deactivate_path(:users, @user), :class => "btn btn-danger", :method => :put %>
    <% end %>
    <%= link_to "View All Users", users_path, :class => 'btn', :id => 'view_all_users' %>
  <% end %>
</div>
