<% title @user.first_name + " " + (!@user.nickname.blank? ? "(#{@user.nickname}) " : "") + @user.last_name %>
<% subtitle @user.login %>
<div class="row">
  <div id="bool_labels" class="span9">
    <% if current_user.is_admin_in_adminmode? %>
      <%= "<span class=\"user_label label-important\">Banned</span>".html_safe if @user.is_banned? %>
      <%= "<span class=\"user_label label-warning\">Deactivated</span>".html_safe if @user.deleted_at %>
      <%= "<span class=\"user_label label-success\">Admin</span>".html_safe if @user.is_admin? %>
      <%= "<span class=\"user_label\">Checkout Person</span>".html_safe if @user.is_checkout_person? %>
    <% end %>
  </div>
</div>

<div class="row">
  
  
  <dl id="user_info" class="dl-horizontal span3">
    <dt>Login</dt>
    <dd><%= @user.login %></dd>
    
    <dt>First Name</dt>
    <dd><%= @user.first_name %></dd>
    
    <dt>Last Name</dt>
    <dd><%= @user.last_name %></dd>
    
    <dt>Nickname</dt>
    <dd><%= !@user.nickname.blank? ? @user.nickname : "(none)" %></dd>
    
    <dt>Phone</dt>
    <dd><%= @user.phone %></dd>
    
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
    
    <dt>Affiliation</dt>
    <dd><%= @user.affiliation %></dd>
    
  </dl>
  
  
  <div id="user_stats" class="span6">
    <div class="row">
    <div id="current_equip_count" class="span2">
      <h4>Current Equipment</h4>
      <div class="current_equip_num">
        <i class="icon-camera-retro"></i>
        <%= @current_equipment.size %>
      </div>
    </div>
    
    <div id="current_res_count" class="span2">
      <h4>Current Reservations</h4>
      <div class="current_res_num">
        <i class="icon-list-alt"></i>
        <%= @current_reservations.size %>
      </div>
    </div>
    
    <div id="overdue_count" class="span2">
      <h4>Overdue Equipment</h4>
      <div class="overdue_num">
        <i class="icon-exclamation-sign"></i>
        <%= @overdue_equipment.size %>
      </div>
    </div>
    </div>
    
    <div class="row">
    <div id="past_equip_count" class="span2">
      <h4>Past Equipment</h4>
      <div class="past_equip_num">
        <i class="icon-time"></i>
        <%= @past_equipment.size %>
      </div>
    </div>
    
    <div id="missed_res_count" class="span2">
      <h4>Missed Reservations</h4>
      <div class="missed_res_num">
        <i class="icon-minus-sign"></i>
        <%= @missed_reservations.size %>
      </div>
    </div>
    
    <div id="past_overdue_count" class="span2">
      <h4>Past Overdue Equipment</h4>
      <div class="past_overdue_num">
        <i class="icon-thumbs-down"></i>
        <%= @past_overdue.size %>
      </div>
    </div>
    </div>
    
  </div>
</div>
<div class="row">
  <h2 class="span9">Reservation History</h2>
</div>
<hr />


<div class="row">
  <div class="tabbable tabs-left span9">
  
    <ul class="nav nav-tabs">
      <li class="active"><a id="current_equipment" href="#tab1" data-toggle="tab">Current Equipment</a></li>
      <li><a id="current_reservations" href="#tab2" data-toggle="tab">Current Reservations</a></li>
      <li><a id="overdue_equipment" href="#tab3" data-toggle="tab">Overdue Equipment</a></li>
      <li><a id="past_equipment" href="#tab4" data-toggle="tab">Past Equipment</a></li>
      <li><a id="missed_reservations" href="#tab5" data-toggle="tab">Missed Reservations</a></li>
      <li><a id="past_overdue" href="#tab6" data-toggle="tab">Past Overdue Equipment</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
          <% unless @current_equipment.empty? %>
            <ul>
              <% @current_equipment.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
      <div class="tab-pane" id="tab2">
        <p>
          <% unless @current_reservations.empty? %>
            <ul>
              <% @current_reservations.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
      <div class="tab-pane" id="tab3">
        <p>
          <% unless @overdue_equipment.empty? %>
            <ul>
              <% @overdue_equipment.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
      <div class="tab-pane" id="tab4">
        <p>
          <% unless @past_equipment.empty? %>
            <ul>
              <% @past_equipment.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
      <div class="tab-pane" id="tab5">
        <p>
          <% unless @missed_reservations.empty? %>
            <ul>
              <% @missed_reservations.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
      <div class="tab-pane" id="tab6">
        <p>
          <% unless @past_overdue.empty? %>
            <ul>
              <% @past_overdue.each do |r| %>
                <li>
                  <%= link_to r.equipment_model.name, r.equipment_model %>
                  (<%= link_to r.equipment_object.name, r.equipment_object %>)
                </li>
              <% end %>
            </ul>
          <% else %>
            Nothing to see here!
          <% end %>
        </p>
      </div>
      
    </div>
    
  </div>
</div>


<div class="form-actions">
  <%= link_to "Edit Information", edit_user_path(@user), :class => 'btn' %>
  <% if current_user.is_admin_in_adminmode? %>
    <%= link_to "Destroy User", @user, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
    <%= link_to "View All Users", users_path, :class => 'btn', :id => 'view_all_users' %>
  <% end %>

</div>