<% title @user.name + ((@user.is_banned || @user.is_admin_in_bannedmode?) ? " (banned)" : "") %>
<div class="row">
  <div id="bool_labels" class="span9">
    <% if current_user.is_admin_in_adminmode? %>
      <%= "<span class=\"user_label label-important\">Banned</span>".html_safe if @user.is_banned? %>
      <%= "<span class=\"user_label label-warning\">Deactivated</span>".html_safe if @user.deleted_at %>
      <%= "<span class=\"user_label label-success\">Admin</span>".html_safe if @user.is_admin? %>
      <%= "<span class=\"user_label\">Checkout Person</span>".html_safe if @user.is_checkout_person? %>
    <% end %>
  </div>
</div>

<div class="row">
  <div id="user_info" class="span4 well">
    <p>
      <strong>Login:</strong>
      <%= @user.login %>
    </p>
    <p>
      <strong>First Name:</strong>
      <%= @user.first_name %>
    </p>
    <p>
      <strong>Last Name:</strong>
      <%= @user.last_name %>
    </p>
    <p>
      <strong>Nickname:</strong>
      <%= @user.nickname %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @user.phone %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Affiliation:</strong>
      <%= @user.affiliation %>
    </p>

  </div>
  
  <div class="span4 well">
    <div id="current_equip_count" class="span1">
      <h4>Current Equipment</h4>
      <div class="current_equip_num">
        <%= current_user.reservations.select{|r| (r.status == "checked out") || (r.status == "overdue")}.size %>
      </div>
    </div>
    
    <div id="current_res_count" class="span1">
      <h4>Current Reservations</h4>
      <div class="current_res_num">
        <%= current_user.reservations.upcoming.size %>
      </div>
    </div>
    
    <div id="overdue_count" class="span1">
      <h4>Overdue Equipment</h4>
      <div class="overdue_num">
        <%= current_user.reservations.overdue.size %>
      </div>
    </div>
    
    <div id="past_equip_count" class="span1">
      <h4>Past Equipment</h4>
      <div class="past_equip_num">
        <%= current_user.reservations.returned.size %>
      </div>
    </div>
    
    <div id="missed_res_count" class="span1">
      <h4>Missed Reservations</h4>
      <div class="missed_res_num">
        <%= current_user.reservations.missed.size %>
      </div>
    </div>
    
    <div id="past_overdue_count" class="span1">
      <h4>Past Overdue E</h4>
      <div class="past_overdue_num">
        <%= current_user.reservations.returned.select{|r| r.checked_in > r.due_date}.size %>
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div id="current_equipment" class="span9">
    <strong>User's current equipment:</strong><br />
    <%= render :partial => 'current_equipment', :object => @user %>
  </div>
</div>

<div class="row">
  <div class="form-actions span9">
    <%= link_to "Edit Information", edit_user_path(@user) %>
    <% if current_user.is_admin_in_adminmode? %>
      | <%= link_to "Destroy User", @user, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %>
      | <%= link_to "View All Users", users_path %>
    <% end %>
  </div>
</div>