<% title @user.name + (@user.is_banned ? " (banned)" : "") %>

<div id="current_equipment"
  <strong>User's current equipment:</strong><br />
  <%= render :partial => 'current_equipment', :object => @user %>
</div>

<p>
  <strong>Login:</strong>
  <%=h @user.login %>
</p>
<p>
  <strong>First Name:</strong>
  <%=h @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @user.last_name %>
</p>
<p>
  <strong>Nickname:</strong>
  <%=h @user.nickname %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @user.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Affiliation:</strong>
  <%=h @user.affiliation %>
</p>
<% if current_user.is_admin? %>
  <p>
    <strong>Is Admin:</strong>
    <%=h @user.is_admin %>
  </p>
  <p>
    <strong>Is Checkout Person:</strong>
    <%=h @user.is_checkout_person %>
  </p>
  <p>
    <strong>Is Banned:</strong>
    <%=h @user.is_banned %>
  </p>
<% end %>

<p>
  <%= link_to "Edit Information", edit_user_path(@user) %>
  <% if current_user.is_admin? %>
    | <%= link_to "Destroy User", @user, :confirm => 'Are you sure?', :method => :delete %>
    | <%= link_to "View All Users", users_path %>
  <% end %>
</p>
