<% title @user.name + ((@user.is_banned || @user.is_admin_in_bannedmode?) ? " (banned)" : "") %>

<div id="current_equipment"
  <strong>User's current equipment:</strong><br />
  <%= render :partial => 'current_equipment', :object => @user %>
</div>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Affiliation:</strong>
  <%= @user.affiliation %>
</p>
<% if current_user.is_admin_in_adminmode? %>
  <p>
    <strong>Is Admin:</strong>
    <%= @user.is_admin %>
  </p>
  <p>
    <strong>Is Checkout Person:</strong>
    <%= @user.is_checkout_person %>
  </p>
  <p>
    <strong>Is Banned:</strong>
    <%= @user.is_banned %>
  </p>
  <p>
    <strong>Is Activated:</strong>
    <%= @user.deleted_at == nil %>
  </p>
<% end %>

<p>
  <%= link_to "Edit Information", edit_user_path(@user) %>
  <% if current_user.is_admin_in_adminmode? %>
    | <%= link_to "Destroy User", @user, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %>
    | <%= link_to "View All Users", users_path %>
  <% end %>
</p>
