<% title "Change your password" %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "New password", required: true, autofocus: true %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <%= f.button :submit, "Change my password" %>
  <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-default' %>
<% end %>
