<p>A new reservation request has been filed by
<%= link_to @reservation.reserver.name, user_url(@reservation.reserver, only_path: false) %></p>
<ul>
  <li>Equipment requested: <%= link_to @reservation.equipment_model.name, equipment_model_url(@reservation.equipment_model, only_path: false) %> </li>
  <li>Requested start date: <%= @reservation.start_date.to_date.to_s(:long) %></li>
  <li>Requested end date: <%= @reservation.due_date.to_date.to_s(:long) %></li>
  <li>Notes: <%= markdown(@reservation.notes) %></li>
</ul>
<p>Click <%= link_to "here", review_request_url(@reservation, only_path: false) %> to review this request</p>

