<p>A new reservation request has been filed by
<%= link_to @reservation.reserver.name, @reservation.reserver %></p>
<ul>
<li>Equipment requested: <%= link_to @reservation.equipment_model.name, @reservation.equipment_model %> </li>
<li>Requested start date: <%= @reservation.start_date.to_date.to_s(:long) %></li>
<li>Requested end date: <%= @reservation.due_date.to_date.to_s(:long) %></li>
<li>Notes: <%= @reservation.notes %></li>
</ul>
<p>Click <%= link_to "here", review_request_path(@reservation) %> to review this request</p>

