<div class="document" style="margin-left: 30px">
  <%= form_for @equipment_model, :html => { :multipart => true } do |f| %>
    <%= fields_for "equipment_model[document_attributes][]", add_document_form do |d| %>
      <p>
        <%= d.text_field :name, :value => 'Enter name of document', :onclick => "if(this.value == 'Enter name of document') this.value=''; " %><br />
        <%= d.file_field :data %>
      </p>
    <% end %>
  
    <p>
      <%= f.submit "Add Document" %>
      <%= link_to_function "cancel", "$(this).parents('.document').remove()" %>
    </p>
  <% end %>
</div>