<%= form_for @document do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :data_file_name %><br />
    <%= f.text_field :data_file_name %>
  </p>
  <p>
    <%= f.label :data_content_type %><br />
    <%= f.text_field :data_content_type %>
  </p>
  <p>
    <%= f.label :data_file_size %><br />
    <%= f.text_field :data_file_size %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
