<%= simple_form_for @document, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :data_file_name %>
    <%= f.input :data_content_type %>
    <%= f.input :data_file_size %>
    <div class="form-actions">
    <%= f.button :submit %>
    </div>
<% end %>
