<% title "Documents" %>

<table>
  <tr>
    <th>Name</th>
    <th>Data File Name</th>
    <th>Data Content Type</th>
    <th>Data File Size</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.name %></td>
      <td><%= document.data_file_name %></td>
      <td><%= document.data_content_type %></td>
      <td><%= document.data_file_size %></td>
      <td><%= link_to "Show", document, :class => "btn btn-inverse" %></td>
      <td><%= link_to "Edit", edit_document_path(document), :class => "btn" %></td>
      <td><%= link_to "Destroy", document, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Document", new_document_path, :class => "btn btn-primary" %></p>
