<% title "Edit Application Settings" %>

<%= simple_form_for @app_config, :url => url_for( :action => "create_app_configs", :controller => "application_setup"), :html => { :class => "form-horizontal" } do |f| %>
	
<%= f.input :site_title %>
<%= f.input :admin_email %>
<%= f.input :department_name %>
<%= f.input :home_link_text %>
<%= f.input :home_link_location %>
<%= f.input :contact_link_text %>
<%= f.input :contact_link_location %>
<%= f.input :default_per_cat_page %>
<%= f.input :upcoming_checkin_email_active %>
<%= f.input :upcoming_checkin_email_body %>
<%= f.input :overdue_checkout_email_active %>
<%= f.input :overdue_checkout_email_body %>
<%= f.input :overdue_checkin_email_active%>
<%= f.input :overdue_checkin_email_body %>
<%= f.input :reservation_confirmation_email_active%>

<div class="form-actions">
<%= f.button :submit %></p>
</div>

<% end %>