<div id="cart">
  <h2>Your cart</h2>
  <% if cart.items.size == 0 %>
    (empty)
  <% else %>
    <ul>
    <% cart.items.each do |item| %>
      <li><%= item.quantity %> x <%= item.name %> <small><%= link_to "[remove]", :controller => 'catalog', :action => 'remove_from_cart', :id => item.equipment_model.id %></small></li>
    <% end %>
    </ul>
    <br />
    <%= button_to "Empty cart", empty_cart_path %>
    <%= button_to "Make reservation" %>
  <% end %>
</div>