<div id="cart_dates">
  <%= form_tag update_cart_path, :remote => true do %>
    <p>
      <%= label_tag :start_date, 'Start of reservation' %><br />
      <%= datepicker_input "cart", "start_date_cart", :class => 'submittable', :value => cart.start_date.strftime('%m/%d/%Y') %>
    </p>
    <p>
      <%= label_tag :due_date, 'End of reservation' %><br />
      <%= datepicker_input "cart", "due_date_cart", :class => 'submittable', :value => cart.due_date.strftime('%m/%d/%Y'), :minDate => cart.start_date.strftime('%m/%d/%Y') %>
    </p>
  <% end %>
</div>
