<div id="cart_dates">
  <%= form_tag url_for(action: 'update_cart'), remote: true, class: 'form-vertical', id: 'cart_form', method: :put do %>

    <%= hidden_field_tag 'page', params[:page] %>
    <%# to preserve pagination %>
    <%# todo: make it so changing dates don't need to reset pagination %>

    <% if can? :manage, Reservation %>
      <%= label_tag :reserver_id, 'Reserving For' %>
      <%= hidden_field_tag 'reserver_id', cart.reserver_id %>
      <div class="input-group">
        <%= autocomplete_field_tag 'fake_reserver_id',
          cart.reserver_id == current_user.id ? '' : User.find(cart.reserver_id).render_name,
          autocomplete_user_last_name_users_path,
          size: 30,
          placeholder: current_user.render_name,
          id_element: "#reserver_id",
          class: 'submittable form-control' %>
        <% if can? :create, User %>
          <span class="input-group-btn">
            <%= link_to sanitize("<i class=\"fa fa-plus\"></i>"), '#userModal', class: 'btn btn-default', id: 'modal', rel: 'tooltip', title: 'New Reserver', :"data-toggle" => 'modal' %>
          </span>
        <% end %>
      </div>

    <% elsif current_user %>
      <div class="cart_reserver">
        <%= hidden_field_tag 'reserver_id', cart.reserver.id  %>
      </div>
    <% end %>

    <%= label_tag :start_date, 'Start Date' %>
    <%= text_field "cart", "start_date_cart", class: 'autosubmitme form-control date_start', value: cart.start_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "cart[start_date_cart]", cart.start_date, id: 'date_start_alt' %>

    <%= label_tag :due_date, 'Due Date' %>
    <%= text_field "cart", "due_date_cart", class: 'autosubmitme form-control date_end', value: cart.due_date.strftime('%m/%d/%Y'), minDate: cart.start_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "cart[due_date_cart]", cart.due_date, id: 'date_end_alt' %>

  <% end %>
</div>

<div class="modal fade" id="userModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Quick Create New User</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
