<div id="cart_dates">
  <%= form_tag url_for(:action => :update_cart),:remote => true, :class => "form-vertical" do %>
    <%= label_tag :reserver_id, 'Reserver' %>
    <%= hidden_field_tag 'page', params[:page] %>
    <% if current_user && (current_user.is_admin_in_adminmode? || current_user.is_admin_in_checkoutpersonmode? || current_user.is_checkout_person?) %>
      
      <div class="input-append">
        <%# This must all be one one line for the button to display properly, sorry it's so ugly! %>
        <%= hidden_field_tag 'reserver_id', cart.reserver_id %>
				<%= autocomplete_field_tag 'fake_reserver_id', User.include_deleted.find(cart.reserver_id).render_name, autocomplete_user_last_name_reservations_path, :size => 30, :class => 'submittable span2' %>
				<%= link_to sanitize("<i class=\"icon-plus\"></i>"), '#userModal', :class => 'btn', :id => 'modal', :rel => 'tooltip', :title => 'New Reserver', :"data-toggle" => 'modal' %>
      </div>

    <% elsif !current_user %>
        Please sign in <br />
    <% else %>
    <div class="cart_reserver">
      <%= link_to cart.reserver.name, user_path(cart.reserver) %>
      <%= hidden_field_tag 'reserver_id', cart.reserver.id  %>
    </div>
    <% end %>

      <%= label_tag :start_date, 'Start of reservation' %>
      <%= datepicker_input "cart", "start_date_cart", :class => 'autosubmitme span2', :value => cart.start_date.strftime('%m/%d/%Y') %>
      
      <%= label_tag :due_date, 'End of reservation' %>
      <%= datepicker_input "cart", "due_date_cart", :class => 'autosubmitme span2', :value => cart.due_date.strftime('%m/%d/%Y'), :minDate => cart.start_date.strftime('%m/%d/%Y') %>

  <% end %>
</div>



<div class="modal hide fade" id="userModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= "New User" %></h3>
  </div>
  <div class="modal-body">
  </div>
</div>
