<div id="cart" class="well">
  <div id="cartSpinner"></div>
  <header class="cart-header">
    <% if cannot? :manage, Reservation %>
      <h2>My Cart</h2>
    <% else %>
      <h2>Cart</h2>
    <% end %>
  </header>
  <%# allow user to set start/end dates %>
  <%= render partial: 'reservations/cart_dates' %>
  <h3>Items</h3>
  <%# list items in cart %>
  <%= render partial: 'reservations/list_items_in_cart' %>
  <div id="cart_buttons">
    <%# print Make reservation button %>
    <% if can? :create, Reservation %>
      <%= link_to new_reservation_path, class: 'btn btn-success' do %>
        <%= content_tag :i, nil, class: 'fa fa-shopping-cart' %>
        <%= 'Reserve'.titleize %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: 'btn btn-success' do %>
        <%= content_tag :i, nil, class: 'fa fa-sign-in' %>
        <%= 'Sign in'.titleize %>
      <% end %>
    <% end %>
    <%= link_to 'Empty cart'.titleize, url_for(controller: params[:controller], action: 'empty_cart'), method: :delete, class: 'btn btn-default', id: 'empty_cart_btn', remote: true %>
  </div>
</div>
