<div id="cart">
  <h2>Your cart</h2>

<!--list items in cart-->
<%= render :partial => 'reservations/list_items_in_cart' %>

<!--allow user to set start/end dates-->
<%= form_tag update_cart_path do %>
  <p>
    <%= label_tag :start_date, 'Start of reservation' %><br />
    <%= datepicker_input "cart", "start_date_cart", :value => cart.start_date.strftime('%m/%d/%Y') %>
  </p>
  <p>
    <%= label_tag :due_date, 'End of reservation' %><br />
    <%= datepicker_input "cart", "due_date_cart", :value => cart.due_date.strftime('%m/%d/%Y') %>
  </p>
  <p><%= submit_tag "Update dates", :style => 'float: right' %></p>
<% end %>

<br>

<!--print Empty cart and Make reservation buttons-->
<% if cart.items.size > 0 %>
  <p>
  <%= button_to "Empty cart", empty_cart_path %>
  <%= button_to "Make reservation", new_reservation_path %>
  </p>
<% end %>
</div>
