<% if check_in_form.due_date.to_date < Date.today %>
  <div class="well-nomargin span4 btn-warning"> <%# also change color %>
<% else %>
  <div class="well-nomargin span4">
<% end %>
  <h3><%= link_to "Reservation ##{check_in_form.id}", check_in_form %></h3>
    <strong><%= check_in_form.equipment_model.name %></strong>
    <ul>
        <%= check_box_tag "reservations[#{check_in_form.id}][checkin?]" %>
        <%= check_in_form.equipment_object.name %>
    </ul>

    <p>
		  <%= label_tag :notes %> <br />
		  <%= text_area_tag "reservations[#{check_in_form.id}][notes]", check_in_form.notes %>
    </p>

    <p>
      <strong>Check-in procedures:</strong>
      <ul>
        <% if check_in_form.equipment_model.checkin_procedures.nil? %>
          <em>no check in procedures</em>
        <% else %>
          <% check_in_form.equipment_model.checkin_procedures.each do |checkin_procedure| %>
            <li style="list-style: none">
              <%= check_box_tag "reservations[#{check_in_form.id}][checkin_procedures][#{checkin_procedure.id}]" %> <%= checkin_procedure.step %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </p>

    <% if check_in_form.due_date.to_date < Date.today %>
      <p>
        This equipment is <strong class="error">overdue.</strong><br />
        At a fee of <%= number_to_currency(check_in_form.late_fee) %> / day, the renter owes <strong><%= number_to_currency(check_in_form.late_fee * (Date.today - check_in_form.due_date.to_date).to_i)  %></strong> total.
      </p>
    <% end %>
    <br />
  </div>
