<div class="col-md-4 checkin">
  <div class="well">
    <header>
      <span class="title">
        <h3><%= link_to "Reservation ##{reservation.id}", reservation, target:
        '_blank' %></h3>
      </span>
      <span class="icons">
        <h4>
          <% if reservation.status == "overdue" %>
            <i class="fa fa-exclamation-circle fa-lg overdue-icon"></i>
          <% end %>
          <i class="fa fa-check hidden check fa-lg"></i>
        </h4>
      </span>
    </header>
    <hr>
      <div class="well well-em-manage checkin-click" title="Click to select me for checkin">
        <h4><p><%= link_to reservation.equipment_model.name, reservation.equipment_model,
        target: '_blank' %></p></h4>
        <p><%= link_to reservation.equipment_model, target: '_blank' do %>
              <%= image_tag reservation.equipment_model.photo.url(:medium) %>
            <% end %></p>
        <%= label_tag "reservations[#{reservation.id}][checkin?]" do %>
    <i class="fa fa-square-o c-box fa-lg"></i>
          <%= check_box_tag "reservations[#{reservation.id}][checkin?]", 1, false, class: "checkin-select hidden" %>
          <%= reservation.equipment_object.name %>
        <% end %>

      </div>

      <p>
        <p><h4>Notes</h4></p>
        <% if reservation.notes.present? %>
          <p><h5>Previous Notes</h5></p>
          <p><%= markdown(reservation.notes) %></p>
        <% end %>
        <p><h5>New Notes</h5></p>
        <%= text_area_tag "reservations[#{reservation.id}][notes]", "",
                          class: 'span3', rows: 6 %>
        <%= render :partial => 'shared/markdown_button' %>
      </p>

      <p>
        <p><h4>Check-In Procedures</h4></p>
        <ol class="rectangle-list">
          <% if reservation.equipment_model.checkin_procedures.empty? %>
            <li><em>(none)</em></li>
          <% else %>
            <% reservation.equipment_model.checkin_procedures.each do |checkin_procedure| %>
              <li>
                <%= label_tag "reservations[#{reservation.id}][checkin_procedures][#{checkin_procedure.id}]" do %>
                  <%= check_box_tag "reservations[#{reservation.id}][checkin_procedures][#{checkin_procedure.id}]" %>
                  <span><%= checkin_procedure.step %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ol>
      </p>

      <% if reservation.due_date.to_date < Date.current %>
      <hr>
      <footer>
        <p>
          This equipment is <strong class="error">overdue.</strong><br />
          At a fee of <%= number_to_currency(reservation.late_fee) %> / day, the renter owes <strong><%= number_to_currency(reservation.late_fee * (Date.current - reservation.due_date.to_date).to_i)  %></strong> total.
        </p>
      </footer>

      <% end %>
  </div>

</div>
