<div id="<%= reservation.id %>" class="span4 checkout">
  <div class="well">
    <header>
      <h3><%= link_to "Reservation ##{reservation.id}", reservation, target:
      '_blank' %></h3>
    </header>
    <hr>
    <div class="well well-em-manage">
      <h4><p><%= link_to reservation.equipment_model.name, reservation.equipment_model,
      target: '_blank' %></p></h4>
      <p><%= link_to reservation.equipment_model, target: '_blank' do %>
            <%= image_tag reservation.equipment_model.photo.url(:medium) %>
          <% end %></p>
      <%= label_tag "reservations[#{reservation.id}][equipment_object_id]",
      'Equipment Item' %>
      <%= select_tag "reservations[#{reservation.id}][equipment_object_id]",
      reservation.equipment_model.available_object_select_options, class:
      'dropdown dropselect', placeholder: 'Please select...', prompt: '' %>
    </div>

    <p>
      <p><h4>Notes</h4></p>
      <%= text_area_tag "reservations[#{reservation.id}][notes]", reservation.notes %>
      <%= render :partial => 'shared/markdown_button' %>
    </p>

    <p>
      <h4>Check-Out Procedures</h4>
      <ol class="rectangle-list">
        <% if reservation.equipment_model.checkout_procedures.empty? %>
            <li><em>(none)</em></li>
        <% else %>
          <% reservation.equipment_model.checkout_procedures.each do |checkout_procedure| %>
            <li>
              <%# index with the checkout_procedure.id %>
              <%= label_tag "reservations[#{reservation.id}][checkout_procedures][#{checkout_procedure.id}]" do %>
                <%= check_box_tag "reservations[#{reservation.id}][checkout_procedures][#{checkout_procedure.id}]" %>
                <span><%= checkout_procedure.step %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </p>

    <hr>
    <footer>
      <p>
          This equipment is <strong>due back on <%= reservation.due_date.to_date.to_s(:long) %>.</strong><br />
          An overdue return will incur a combined late fee of <strong><%= number_to_currency(reservation.late_fee) %> / day.</strong>
      </p>
    </footer>
  </div>

</div>