<div id="date_filter">
  <h4>Filter By Date:</h4>
  <p><%= filter_message(@time_counts, @all_counts, @filter, @view_all) %></p>
  <%= form_tag update_index_dates_path, method: :put do %>
    <%= hidden_field_tag "list[filter]", @filter %>
    <%= label_tag :start_date, 'Begin' %>
    <%= text_field "list", "start_date", class: "date_start_no_min span3", value: @start_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "list[start_date]", @start_date, id: 'date_start_alt' %>
    <%= label_tag :end_date, 'End' %>
    <%= text_field "list", "end_date", class: "date_end_no_min span3", value: @end_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "list[end_date]", @end_date, id: 'date_end_alt' %>
    <br />
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
    <%= link_to "View All", view_all_dates_path, class: 'btn', method: :put %>
  <% end %>
</div>

