<%= simple_form_for @reservation, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :fake_reserver_id, as: :autocomplete,
                url: autocomplete_user_last_name_users_path,
                id_element: '#reservation_reserver_id',
                label: "Reserver",
                placeholder: "Start typing a name or login",
                input_html: { value: @reservation.reserver.name } %>

  <%= f.input :reserver_id, as: :hidden %>

  <%= f.label 'Start date' %>
  <%= f.text_field :start_date, class: 'date_start', value: @reservation.start_date.strftime('%m/%d/%Y') %>
  <%= f.input :start_date, as: :hidden, input_html: { id: "date_start_alt" } %>

  <%= f.label 'Due date' %>
  <%= f.text_field :due_date, class: 'date_end', value: @reservation.due_date.strftime('%m/%d/%Y') %>
  <%= f.input :due_date, as: :hidden, input_html: { id: 'date_end_alt' } %>

  <% message = '' %>
  <% if @reservation.equipment_object %>
    <% message = "Be aware that changing the reservation equipment item may have an effect on another reservation. \
          If you set this reservation's equipment item to an item that has already been checked out, the \
          reservations will be swapped." %>
    <div class='control-group'>
    <label class='control-label'>Item</label>
    <div class = "controls">
      <%= select_tag :equipment_object,
          options_for_select(@option_array),
          placeholder: @reservation.equipment_object.name,
          class: 'dropdown dropselect',
          prompt: '', width: 80 %>
    </div>
    </div>
  <% end %>

  <%= label_tag "Current notes" %>
  <div class='row'>
    <div class='span4'>
      <div class='notes-container'>
        <%= markdown @reservation.notes %>
      </div>
    </div>
  </div>

  <%= label_tag "Add new notes" %>
  <%= text_area_tag :new_notes, "", rows: 5, class: 'span4' %>
  <br />
  <%= render :partial => 'shared/markdown_button' %>
  <%= f.button :wrapped, :cancel => reservations_path, :confirm => message %>
<% end %>
