<%= form_for @reservation do |f| %>
  <%= f.error_messages %>

  <% if current_user and current_user.is_admin_in_adminmode? %>
    <%= f.select :reserver_id, User.select_options, :prompt => true %>
  <% else %>
    <%= current_user.name %>
    <%= f.hidden_field :reserver_id, :value => current_user.id %>
  <% end %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>

  <p>
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
