<%= simple_form_for @reservation, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <b> Reserver </b> <%= @reservation.reserver.name%>
    <div class='control-group'>
      <label class='control-label'>* Start date</label>
      <%= datepicker_input "reservation", "start_date", :value => @reservation.start_date.strftime('%m/%d/%Y'), :class => 'controls' %>
    </div>
    <div class='control-group'>
      <label class='control-label'>* Due date</label>
      <%= datepicker_input "reservation", "due_date", :value => @reservation.due_date.strftime('%m/%d/%Y'), :class => 'controls' %>
    </div>
    <%= f.input :notes, :as => :text %>
    <%= f.button :wrapped, :cancel => reservations_path %> 
<% end %>
