<%= simple_form_for @reservation, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <% if current_user and current_user.is_admin_in_adminmode? %>
    <%= f.input :fake_reserver_id, :as => :autocomplete, :url => autocomplete_user_last_name_reservations_path, :id_element => '#reservation_reserver_id', label: "Reserver"%>
    <%= f.input :reserver_id, as: :hidden %>
  <%else %>
    <%= current_user.name %>
    <%= f.input :reserver_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <% end %>
  
    <%= f.input :start_date, :as => :datetime %>
    <%= f.input :due_date, :as => :datetime %>
    <%=f.input :notes, :as => :text %>
    <div class="form-actions">
    <%= f.button :submit %></p>
    </div>
<% end %>
