<%= simple_form_for @reservation, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <%= f.input :fake_reserver_id, :as => :autocomplete, :url => autocomplete_user_last_name_reservations_path,
              :id_element => '#reservation_reserver_id', 
              label: "Reserver", placeholder: "Start typing a name or login", input_html: {value: @reservation.reserver.name} %>
  <%= f.input :reserver_id, as: :hidden %>
  
  <div class='control-group'>
    <label class='control-label'>* Start date</label>
    <div class="controls">
      <%= datepicker_input "reservation", "start_date", :value => @reservation.start_date.strftime('%m/%d/%Y'), class: "date_start" %>
    </div>
  </div>
  <div class='control-group'>
    <label class='control-label'>* Due date</label>
    <div class="controls">
      <%= datepicker_input "reservation", "due_date", :value => @reservation.due_date.strftime('%m/%d/%Y'), class: "date_end" %>
    </div>
  </div>
  <% message = '' %>
  <% if @reservation.equipment_object %>
	  <% message = "Be aware that changing the reservation equipment item may have an effect on another reservation. \
					If you set this reservation's equipment item to an item that has already been checked out, the \
					reservations will be swapped." %>
	  <div class='control-group'>
		<label class='control-label'>Item</label>
		<div class = "controls">
			<%= select_tag :equipment_object,
				  options_for_select(@option_array),
				  placeholder: @reservation.equipment_object.name,
				  class: 'dropdown dropselect', 
				  prompt: '', width: 80 %>
		</div>
	  </div>
  <% end %>
  
  <%= f.input :notes, :as => :text, :hint => "#{render :partial => 'shared/markdown_button'}" %>
  <%= f.button :wrapped, :cancel => reservations_path, :confirm => message %>
<% end %>
