<%= simple_form_for @reservation do |f| %>
  <%= f.error_notification %>
  <% if current_user and current_user.is_admin_in_adminmode? %>
    <%= f.input :reserver_id, :as => :select, :collection => User.select_options %>
  <%else %>
    <%= current_user.name %>
    <%= f.input :reserver_id, :as => :hidden, :input_html => {:value => current_user.id} %>
  <% end %>
  
    <%= f.input :start_date, :as => :datetime %>
    <%= f.input :due_date, :as => :datetime %>
    <%=f.input :notes, :as => :text %>

    <%= f.button :submit %></p>
<% end %>
