<h3>Hold List</h3>
  <table id="table_woo" class="datatable table table-striped table-bordered">
    <thead>
    <tr>
      <th>Reservation #</th>
      <th>User</th>
      <th>Equipment</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
    </thead>
    <tbody>
    <% for reservation in hold_list %>
      <tr>
        <td><%= link_to reservation.id, reservation %></td>
        <% if (reservation.reserver)%>
          <td>
            <%= link_to reservation.reserver.name, reservation.reserver %>
            <% if current_user.can_checkout? %>
              (<%= link_to 'manage', manage_reservations_for_user_path(reservation.reserver.id) %>)
            <% end %>
            (<%= link_to 'current', current_reservations_for_user_path(reservation.reserver.id) %>)
          </td>
        <% else %>
        <td>User no longer exists</td>
        <% end %>
        <td><%= reservation.equipment_model.name %></td>
        <td><%= reservation.start_date.to_date.to_s(:long) %></td>
        <td><%= reservation.due_date.to_date.to_s(:long) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
