<div class="">
  <ul class="nav nav-tabs nav-stacked">
    <% if can? :manage, Reservation %>
      <%= render partial: 'index_nav_tab', locals: {filter: :upcoming, text: 'Today'} %>
    <% end %>
    <%= render partial: 'index_nav_tab', locals: {filter: :reserved, text: 'Reserved'} %>
    <%= render partial: 'index_nav_tab', locals: {filter: :requested, text: 'Requested'} %>
    <%= render partial: 'index_nav_tab', locals: {filter: :checked_out, text: 'Checked Out'} %>
    <%= render partial: 'index_nav_tab', locals: {filter: :overdue, text: 'Overdue'} %>
    <% unless AppConfig.first.res_exp_time %>
      <%= render partial: 'index_nav_tab', locals: {filter: :missed, text: 'Missed'} %>
    <% end %>
    <%= render partial: 'index_nav_tab', locals: {filter: :returned, text: 'Returned'} %>
    <%= render partial: 'index_nav_tab', locals: {filter: :approved_requests, text: 'Approved'} %>
    <%= render partial: 'index_nav_tab', locals: {filter: :denied_requests, text: 'Denied'} %>
  </ul>
</div>
