<div class="btn-toolbar">
  <div class="btn-group">
    <% if can? :manage, Reservation %>
        <%= link_to "Today (#{@reservations_source.upcoming.size})", reservations_path, :class =>
          @default ? "btn disabled" : "btn"  %>
        <%= link_to "Reserved (#{@reservations_source.reserved.size})", reservations_path(:reserved => true),
			    :class => (params[:reserved] ? "btn disabled" : "btn") %>
    <% else %>
      <%= link_to "Reserved (#{@reservations_source.reserved.size})", reservations_path,
        :class => @default ? "btn disabled" : "btn" %>
    <% end %>
    <%= link_to "Checked out (#{@reservations_source.checked_out.size})", reservations_path(:checked_out => true),
			:class => (params[:checked_out] ? "btn disabled" : "btn") %>
    <%= link_to "Overdue (#{@reservations_source.overdue.size})", reservations_path(:overdue => true),
			:class => (params[:overdue] ? "btn disabled" : "btn") %>
  	<%= link_to "Missed (#{@reservations_source.missed.size})", reservations_path(:missed => true),
			:class => (params[:missed] ? "btn disabled" : "btn") %>
   	<%= link_to "Returned (#{@reservations_source.returned.size})", reservations_path(:returned => true),
			:class => (params[:returned] ? "btn disabled" : "btn") %>
  </div>
</div>
