<% title 'Confirm Reservation' %>

<div id="content" class="col-md-9">
  <% unless @errors.empty? %>
    <p>
      <h3>
        <i class="fa fa-exclamation-triangle warning-icon"></i>
        Please be aware of the following errors:
      </h3>
    </p>
    <div class ="form-errors">
      <% @errors.each do |msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <p>
    <h4>Equipment Reserved for
    <%= link_to User.find(cart.reserver_id).name, User.find(cart.reserver_id),
    target: '_blank' %>
    from
    <%= cart.start_date.to_s(:long) %> to
    <%= cart.due_date.to_s(:long) %>:
    </h4>
  </p>
  <%= render partial: 'reservations/edit_reservation_form' %>
</div>
<div id="sidebar" class="col-md-3">
  <div id="sidebarbottom">
    <div id="cart" class="well">
      <div id="cartSpinner"></div>
      <header class="cart-header">
        <% if cannot? :manage, Reservation %>
          <h2>My Cart</h2>
        <% else %>
          <h2>Cart</h2>
        <% end %>
      </header>
      <%# allow user to set start/end dates %>
      <%= form_tag url_for(action: 'change_reservation_dates', controller: "catalog"), remote: true, class: 'form-vertical', id: 'dates_form', method: :put do %>
        <%= render partial: 'reservations/cart_dates' %>
      <% end %>
    </div>
    <%= simple_form_for @reservation do |f| %>
      <div id="cart" class="well">
        <div id="cartSpinner"></div>
        <div class="form-group text<%= ' error' if @notes_required %>">
          <%= f.label :notes, "#{@errors.blank? ? 'Optional notes' : 'Justification for error override'} for this reservation:" %>
          <%= f.input_field :notes, class: 'form-control', rows: 5 %>
        </div>
        <%= f.button :submit, "Finalize Reservation", id: 'finalize_reservation_btn' %>
      </div>
    <% end %>
  </div>
</div>
