<% title "Confirm Reservation Request" %>
<div id="content" class="col-md-9">
  <% unless @errors.empty? %>
    <p>
      <h3><i class="fa fa-exclamation-triangle warning-icon"></i> Would you like to resolve the following error(s)?</h3>
    </p>
    <div class ="form-errors">
      <% @errors.each do |msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <p>
    <h4>Equipment requested for
    <%= link_to User.find(cart.reserver_id).name, User.find(cart.reserver_id),
    target: '_blank' %>
    from
    <%= cart.start_date.to_s(:long) %> to
    <%= cart.due_date.to_s(:long) %>:
    </h4>
  </p>
  <%= render partial: 'reservations/edit_reservation_form' %>
  <div class="well">
    <%= markdown(request_text) %>
  </div>
  <%= simple_form_for @reservation do |f| %>
    <div class="form-group text <%= 'error' if @notes_required %>">
      <%= f.label "Enter your comments here:" %>
      <%= f.input_field :notes, class: 'form-control', rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.button :submit, "Submit Request", id: 'finalize_reservation_btn', data: { confirm: "Are you sure? This request is not finalized and will be subject to approval by an administrator. It will not be available for checkout until and unless approved, and the request may be denied for any reason at the sole discretion of the administrator." } %>
    </div>
  <% end %>
</div>
<div id="sidebar" class="col-md-3">
  <div id="sidebarbottom">
    <div id="cart" class="well">
      <div id="cartSpinner"></div>
      <header class="cart-header">
        <% if cannot? :manage, Reservation %>
          <h2>My Cart</h2>
        <% else %>
          <h2>Cart</h2>
        <% end %>
      </header>
      <%= form_tag url_for(action: 'change_reservation_dates', controller: "catalog"), remote: true, class: 'form-vertical', id: 'dates_form', method: :put do %>
        <%# allow user to set start/end dates %>
        <%= render partial: 'reservations/cart_dates' %>
      <% end %>
      <br>
    </div>
  </div>
</div>
