<h3><%= reservations_list.first.status.capitalize %></h3>
<table>
  <tr>
    <th>Reservation #</th>
    <th>User</th>
    <th>Equipment</th>
    <th>Start Date</th>
    <th>Due Date</th>
  </tr>
  <% for reservation in reservations_list %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <td><%=h reservation.reserver.name %></td>
      <td><%= reservation.equipment_list.gsub("\r\n", "<br>") %></td>
      <td><%=h reservation.start_date.to_date.to_s(:long) %></td>
      <td><%=h reservation.due_date.to_date.to_s(:long) %></td>
    </tr>
  <% end %>
</table>