<h3><%= reservations_list.first.status.capitalize %></h3>
<table id="table_woo" class="datatable table table-striped table-bordered">
  <thead>
  <tr>
    <th>Reservation #</th>
    <th>User</th>
    <th>Equipment</th>
    <th>Start Date</th>
    <th>Due Date</th>
  </tr>
  </thead>
  <tbody>
  <% for reservation in reservations_list %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <% if (reservation.reserver)%>
        <td><%= link_to reservation.reserver.name, show_all_reservations_for_user_path(reservation.reserver.id) %></td>
      <% else %>
        <td>User no longer exists</td>
      <% end %>
      <td><%= reservation.equipment_model.name %></td>
      <td><%= reservation.start_date.to_date.to_s(:long) %></td>
      <td><%= reservation.due_date.to_date.to_s(:long) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr />

