<table id="table_woo" class="datatable table table-striped table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <% if current_user.can_checkout? %>
      <th>Reserver</th>
    <% end %>
    <th>Equipment</th>
    <th>Item</th>
    <th>Start Date</th>
    <th>Due Date</th>
  </tr>
  </thead>
  <tbody>

  <% for reservation in reservations_list %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <% if current_user.can_checkout? %>
        <td>
        <div class="dropdown">
            <%= link_to reservation.reserver.name, '#', :"data-toggle" => 'dropdown' %>
            <% if current_user.can_checkout? && reservation.reserver.id %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', reservation.reserver %></li>
                <li><%= link_to "Manage reservations", manage_reservations_for_user_path(reservation.reserver.id) %></li>
                <li><%= link_to "Current reservations", current_reservations_for_user_path(reservation.reserver.id) %></li>
              </ul>
            <% end %>
          </div>
        </td>
      <% end %>
      <td><%= link_to reservation.equipment_model.name, reservation.equipment_model %></td>
      <td>
        <% if !reservation.equipment_object.nil? %>
          <%= reservation.equipment_object.name %>
        <% end %>
      </td>
      <td><%= reservation.start_date.to_date.to_s(:long) %></td>
      <td><%= reservation.due_date.to_date.to_s(:long) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr />