<h3><%= reservations_list.first.status.capitalize %></h3>
<table>
  <tr>
    <th>Reservation #</th>
    <th>User</th>
    <th>Equipment</th>
    <th>Start Date</th>
    <th>Due Date</th>
  </tr>
  <% for reservation in reservations_list %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <% if reservation.reserver%>
        <td><%=h link_to reservation.reserver.name, {:action => 'show_all', :id => reservation.reserver.id} %></td>
      <% else %>
        <td>User no longer exists</td>
      <% end %>
      <td><%= reservation.equipment_model.name %></td>
      <td><%=h reservation.start_date.to_date.to_s(:long) %></td>
      <td><%=h reservation.due_date.to_date.to_s(:long) %></td>
    </tr>
  <% end %>
</table>

