<table id="table_woo" class="datatable table table-striped table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <% if can? :manage, Reservation %>
      <th>Reserver</th>
    <% end %>
    <th>Equipment</th>
    <th>Item</th>
    <th>Start Date</th>
    <th>Due Date</th>
    <% if @filter == :overdue || @filter == :returned_overdue %>
      <th>Late Fee</th>
    <% end %>
  </tr>
  </thead>
  <tbody>

  <% reservations_set.includes(:equipment_model, :equipment_item).each do |reservation| %>
    <tr>
      <td><%= link_to reservation.id, reservation %></td>
      <% if can? :manage, Reservation %>
        <td>
        <div class="dropdown">
            <%= link_to reservation.reserver.name, '#', :"data-toggle" => 'dropdown' %>
            <% if reservation.reserver_id %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', reservation.reserver %></li>
                <li><%= link_to "Manage reservations", manage_reservations_for_user_path(reservation.reserver_id) %></li>
                <li><%= link_to "Current reservations", current_reservations_for_user_path(reservation.reserver_id) %></li>
              </ul>
            <% end %>
          </div>
        </td>
      <% end %>
      <td><%= link_to reservation.equipment_model.name, reservation.equipment_model %></td>
      <td>
        <% if reservation.equipment_item_id %>
          <%= link_to reservation.equipment_item.name, reservation.equipment_item %>
        <% end %>
      </td>
      <td><%= reservation.start_date.to_s(:long) %></td>
      <td><%= reservation.due_date.to_s(:long) %></td>
      <% if @filter == :overdue || @filter == :returned_overdue %>
        <td><%= number_to_currency reservation.late_fee %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<hr />
