<% url = request.fullpath %>
<div class="btn-group">

  <% if url == user_path(reserver) %>
    <%= link_to "#{reserver.first_name}'s Profile", reserver, :class => 'btn btn-default disabled' %>
  <% else %>
    <%= link_to "#{reserver.first_name}'s Profile", reserver, :class => 'btn btn-default' %>
  <% end %>
  <% if can? :manage, Reservation %>
    <% if url == manage_reservations_for_user_path(reserver) %>
      <%= link_to "Check in/out", manage_reservations_for_user_path(reserver), :class => 'btn btn-default disabled' %>
    <% else %>
      <%= link_to "Check in/out", manage_reservations_for_user_path(reserver), :class => 'btn btn-default' %>
    <% end %>
  <% end %>

  <% if url == current_reservations_for_user_path(reserver) %>
    <%= link_to "#{reserver.first_name}'s Reservations", current_reservations_for_user_path(reserver), :class => 'btn btn-default disabled' %>
  <% else %>
    <%= link_to "#{reserver.first_name}'s Reservations", current_reservations_for_user_path(reserver), :class => 'btn btn-default' %>
  <% end %>

</div>
