<%= stylesheet_link_tag('application', :media => :screen) %>
<%= stylesheet_link_tag('print', :media => :print) %>


<% title "Single Reservation Check in" %>
<%= form_tag( {:controller => 'reservations', :action => "update"}, :method => "put" ) do %>
 
	<p>
  <%= @reservation.reserver.name %> is picking up the following equipment:
  </p>
  
	<strong><%= @reservation.equipment_model.name %></strong>
  
	<ul>
  <%= check_box_tag "reservations[#{@reservation.id}][checkin?]" %>
  <%= @reservation.equipment_model.name %> (<%= @reservation.equipment_object.name %>)
  </ul>
  
	<p>
  <strong>Checkin procedures:</strong>
		<% if @reservation.equipment_model.checkin_procedures.nil? %>
    	There are no check in procedures
    <% else %>
      <ol>
    	  <% @reservation.equipment_model.checkin_procedures.each do |checkin_procedure| %>
          <li>
          <div class="step">
            <%= checkin_procedure.step %>
          </div>
          <div class="checkbox">
            <%= check_box_tag "reservations[#{@reservation.id}][checkin_procedures][]" %>
          </div>
          </li>
			  <% end %>
      </ol>
    <% end %>
  </p>
  
	<p>
	<strong>Notes:</strong>
	<%= text_area_tag @reservation.notes, @reservation.notes %>
	</p>
	
	<% if @reservation.due_date.to_date < Date.today %>
  	<p>
    This equipment is <strong class="error">overdue.</strong><br />
    At a fee of <%= number_to_currency(@reservation.late_fee) %> / day, the renter owes <strong><%= number_to_currency(@reservation.late_fee * (Date.today - @reservation.due_date.to_date).to_i)  %></strong> total.
    </p>
  <% end %>
  
  <br>
  <%= submit_tag "Check in equipment" %>

	<p>
	<%=link_to_function("Print this Page", "javascript:print()")%> 
	</p>


<% end %>

