<% title "Single Reservation Checkout" %>
<%= form_tag( {:controller => 'reservations', :action => "update"}, :method => "put" ) do %>

	<p>
  <%= @reservation.reserver.name %> is picking up the following equipment:
	</p>

	<%= check_box_tag "reservations[#{@reservation.id}][checkout?]" %>
	<strong>
	<%= @reservation.equipment_model.name %>
	</strong>

	<%= select_tag "reservations[#{@reservation.id}][equipment_object_id]", @reservation.equipment_model.available_object_select_options, :prompt => true %>
  <%#= collection_select(:@reservation, :equipment_object_id, item.equipment_model.equipment_objects, :id, :name, {:prompt => true}) %>
	
	<p>
		<%= label_tag :notes %> <br />
		<%= text_area_tag :notes, @reservation.notes %>
	</p>
	
	<p>
  	This equipment is <strong>due back on <%= @reservation.due_date.to_date.to_s(:long) %>.</strong><br />
  	An overdue return will incur a combined late fee of <%= number_to_currency(@reservation.late_fee) %> / day.
	</p>

	<p>
  	<strong>Checkout procedures:</strong>
  	<ul>
    	<% if @reservation.equipment_model.checkout_procedures.nil? %>
      There are no checkout procedures
    	<% else %>
        <ol>
          <% @reservation.equipment_model.checkout_procedures.each do |checkout_procedure| %>
            <li>
            <div class="step">
              <%= checkout_procedure.step %>
            </div>
            <div class="checkbox">
              <%= check_box_tag "reservations[#{@reservation.id}][checkout_procedures][]" %>
            </div>
            </li>
          <% end %>
        </ol>
    	<% end %>
  	</ul>
	</p>


	<%= submit_tag "Check out equipment" %>

<% end %>

