<% title "Reservation Checkout" %>
<% form_for @reservation do |f| %>
  <p>
    <%= @reservation.reserver.name %> is picking up the following equipment:
  </p>
  <ul>
    <% @reservation.equipment_model.name %>
    <li>
      <%= select_tag 'reservation[equipment_object_id]', @reservation.equipment_model.available_object_select_options, :prompt => true %>
      <%#= collection_select(:reservation, :equipment_object_id, item.equipment_model.equipment_objects, :id, :name, {:prompt => true}) %>
    </li>
  </ul>
  <p>
    This equipment is <strong>due back on <%= @reservation.due_date.to_date.to_s(:long) %>.</strong><br />
    An overdue return will incur a combined late fee of <%= number_to_currency(@reservation.late_fee) %> / day.
  </p>
  <p>
    <strong>Checkout procedures:</strong>
    <ul>
       <%= @reservation.equipment_model.name %>
       <ul>
         <% if @reservation.equipment_model.checkout_procedures.nil? %>
           no checkout procedures
         <% else %>
           <% @reservation.equipment_model.checkout_procedures.each do |checkout_procedure| %>
             <li style="list-style: none">
               <%= check_box_tag 'reservation[checkout_procedures][]' %> <%= checkout_procedure %>
             </li>
           <% end %>
         <% end %>
       </ul>
    </ul>
  </p>
  <%= submit_tag "Check out equipment" %>
<% end %>