<% title (current_user.can_checkout? ? "" : "Your ")+"Reservations" %>
<p>
  <% if params[:show_returned] %>
    <%= link_to "Hide Returned Reservations from List", reservations_path %>
  <% else %>
    <%= link_to "Show Returned Reservations in List", reservations_path(:show_returned => true) %>
  <% end %>
</p>

<table>
  <tr>
    <th>Reserver</th>
    <th>Equipment</th>
    <th>Start Date</th>
    <th>Due Date</th>
    <th>Status</th>
  </tr>
  <% for reservation in @reservations %>
    <tr>
      <td><%=h reservation.reserver.name %></td>
      <td><%= reservation.equipment_list.gsub("\r\n", "<br>") %></td>
      <td><%=h reservation.start_date.to_date.to_s(:long) %></td>
      <td><%=h reservation.due_date.to_date.to_s(:long) %></td>
      <td><%=h reservation.status %></td>
      <td><%= link_to "View", reservation %></td>
      <% if current_user.is_admin? %>
        <td><%= link_to "Delete", reservation, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>