<% title "Manage Reservations for #{@user.name}" %>


<div class="row">
  <div class="span9">
    <%= render :partial => 'top_buttons', :locals => {:reserver => @user} %>
  </div>
</div>
<hr>
<% unless @check_in_set.empty? %>
  <%= form_tag( checkin_path, :method => "put" ) do %>
  
    <div class="row">
      <div class="span9">
        <p><h2>Check-In</h2></p>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <%= render :partial => "check_in_form", :collection => @check_in_set %>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <div class="form-actions">
          <%= submit_tag "Check-In Equipment", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>

  <% end %>
<% end %>

<% unless @check_out_set.empty? %>
  <div class="row">
    <div class="span9">
      <p><h2>Check-Out</h2></p>
    </div>
  </div>

  <%= form_tag( checkout_path, :method => "put" ) do %>

  <div class="row">
    <div class="span9">
      <% @check_out_set.each do |reservation| %>
        <% @reservation = reservation %>
        <%= render :partial => 'reservations/check_out_form' %>
      <% end %>
    </div>
  </div>

    <div class="row">
        <div class="span9">
          <div class="form-actions"><%= submit_tag "Check-Out Equipment", :class => 'btn btn-primary' %></div>
        </div>
    </div>

  <% end %>
<% end %>

<% if @check_out_set.empty? and @check_in_set.empty? %>
<div class="span9">
  <h3><%= @user.name %> has no scheduled reservations for today.</h3>

</div>

<% end %>
