<% title "Create Reservation" %>

<%= simple_form_for @reservation do |f| %>
  <%= f.error_messages %>
  <p>The following equipment will be reserved by
  <%= User.include_deleted.find(cart.reserver_id).name %>
  from
  <%= cart.start_date.to_s(:long) %> to
  <%= cart.due_date.to_s(:long) %>:
  <%# hidden fields needed for data submission %>
  <%= f.input :reserver_id, :as => :hidden, :value => cart.reserver_id %>
  <%= f.input :start_date, :as => :hidden, :value => cart.start_date %>
  <%= f.input :due_date, :as => :hidden, :value => cart.due_date %>
  </p>
  <p>
    <ul>
      <% cart.items.each do |item| %>
        <li><%= item.quantity %> x <%= link_to item.name, item.equipment_model %></li>
      <% end %>
      <li style="list-style: none"><small><%= link_to "Go back to the catalog", catalog_path %></small></li>
    </ul>
  </p>
  <p><%= f.button :submit, "Finalize Reservation" %></p>
<% end %>
