<% title "Create Reservation" %>

<%= form_for @reservation do |f| %>
  <%= f.error_messages %>
  <p>The following equipment will be reserved by
    <% if current_user and (current_user.is_admin_in_adminmode? || current_user.is_admin_in_checkoutpersonmode? || current_user.is_checkout_person?) %>
      <%= f.autocomplete_field :fake_reserver_id, autocomplete_user_last_name_reservations_path %>
    <% else %>
      <%= current_user.name %>
      <%= f.hidden_field :reserver_id, :value => current_user.id %>
    <% end %>
    from
    <%= cart.start_date.to_s(:long) %>
    <%= f.hidden_field :start_date, :value => cart.start_date %>
    to
    <%= cart.due_date.to_s(:long) %>:
    <%= f.hidden_field :due_date, :value => cart.due_date %>
  </p>
  <p>
    <ul>
      <% cart.items.each do |item| %>
        <li><%= item.quantity %> x <%= link_to item.name, item.equipment_model %></li>
      <% end %>
      <li style="list-style: none"><small><%= link_to "Go back to the catalog", catalog_path %></small></li>
    </ul>
  </p>
  <p><%= f.submit "Finalize reservation" %></p>
<% end %>
