<div id ="top_buttons">
  <%= render partial: 'top_buttons', locals: { reserver: @user } %>
</div>
<hr>

<% if !@check_in_set.empty? %>
  <% title "Check-In Receipt for #{@user.name}" %>
  <h3>The following equipment has been checked in on <%= Date.today.to_s(:long) %> at <%= Time.now.strftime("%I:%M%p") %> by <%= current_user.name %>:</h3>
  <hr>
  <div class="row">
    <% @check_in_set.each do |reservation| %>
      <div class="span4">
        <div class="well well-receipt-box">
          <div class="receipt_box">
            <h3><%= link_to "Reservation ##{reservation.id}", reservation %></h3>
            <hr>
            <%= render partial: 'reservation_details', locals: { :@reservation => reservation } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<% elsif !@check_out_set.empty? %>
  <% title "Check-Out Receipt for #{@user.name}" %>
  <h3>The following equipment has been checked out on <%= Date.today.to_s(:long) %> by <%= current_user.name %>:</h3>
  <hr>
  <div class="row">
    <% @check_out_set.each do |reservation| %>
      <div class="span4">
        <div class="well well-receipt-box">
          <div class="receipt_box">
            <h3><%= link_to "Reservation ##{reservation.id}", reservation %></h3>
            <hr>
            <%= render partial: 'reservation_details', locals: { :@reservation => reservation } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <% title "No equipment has been checked in or out just now" %>
  <h3>
    Please see the user's <%= link_to "current reservations", current_reservations_for_user_path(@user) %> page for more information.
  </h3>
  <br />
<% end %>

<div class="form-actions">
  <%= button_to_function("Print this page", "javascript:print()", class: 'btn') %>
  <%# email buttons disabled because their actions are currently defined only for single reservations %>
  <%# if !@check_out_set.empty? %>
    <%#= link_to "Email checkout receipt", {:controller => :reservations, :action => "checkout_email", :id => @reservation}, :method => "get", :class => 'btn' %>
	<%# elsif !@check_in_set.empty? %>
    <%#= link_to "Email return receipt", {:controller => :reservations, :action => "checkin_email", :id => @reservation}, :method => "get", :class => 'btn' %>
  <%# end %>
</div>