<div id ="top_buttons">
  <%= render partial: 'top_buttons', locals: { reserver: @user } %>
</div>
<hr>

<% if !@check_in_set.empty? %>
  <% title "Check-In Receipt for #{@user.name}" %>
  <p class="lead">
    The following equipment has been checked in on
    <%= Date.current.to_s(:long) %> at <%= Time.current.strftime("%I:%M%p") %>
    by <%= link_to current_user.name, current_user, target: '_blank' %>:
  </p>
  <hr>
  <div class="row">
    <% @check_in_set.each do |reservation| %>
      <div class="col-md-4">
        <div class="well well-receipt-box">
          <div class="receipt_box">
            <h3><%= link_to "Reservation ##{reservation.id}", reservation %></h3>
            <hr>
            <%= render partial: 'reservation_details', locals: { :@reservation => reservation } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


<% elsif !@check_out_set.empty? %>
  <% title "Check-Out Receipt for #{@user.name}" %>
  <p class="lead">
    The following equipment has been checked out on
    <%= Date.current.to_s(:long) %> by <%= link_to current_user.name, current_user, target: '_blank' %>:
  </p>
  <hr>
  <div class="row">
    <% @check_out_set.each do |reservation| %>
      <div class="col-md-4">
        <div class="well well-receipt-box">
          <div class="receipt_box">
            <h3><%= link_to "Reservation ##{reservation.id}", reservation %></h3>
            <hr>
            <%= render partial: 'reservation_details', locals: { :@reservation => reservation } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <% title "No equipment has been checked in or out just now" %>
  <h3>
    Please see the user's <%= link_to "current reservations", current_reservations_for_user_path(@user) %> page for more information.
  </h3>
  <br />
<% end %>

<hr>
<%= link_to "Print this page", "#", onclick: "print();", class: 'btn btn-default' %>
<%# email buttons disabled because their actions are currently defined only for single reservations %>
<%# if !@check_out_set.empty? %>
  <%#= link_to "Email checkout receipt", {:controller => :reservations, :action => "checkout_email", :id => @reservation}, :method => "get", :class => 'btn' %>
<%# elsif !@check_in_set.empty? %>
  <%#= link_to "Email return receipt", {:controller => :reservations, :action => "checkin_email", :id => @reservation}, :method => "get", :class => 'btn' %>
<%# end %>
