<% if current_user.is_admin_in_adminmode? %>
  <% title sanitize("Reserved by #{link_to @user.name, @user}") %>
<% else %>
  <% title "Reserved by #{@user.name}" %>
<% end %>

<% if current_user.can_checkout? || current_user == @user %>
  <div class="btn-group">
      <%= link_to "Check out".titleize, check_out_reservations_for_user_path(@user.id), class: 'btn' %>
      <%= link_to "Check in".titleize, check_in_reservations_for_user_path(@user.id), class: 'btn' %>
  </div>
  <br />
  <% if !@user_overdue_reservations_set.empty? %>
    <h3>Overdue</h3>
    <%= render :partial => "user_reservations_list", :collection => @user_overdue_reservations_set %>
  <% end %>
  <% if !@user_checked_out_today_reservations_set.empty? %>
    <h3>Checked out today</h3>
    <%= render :partial => "user_reservations_list", :collection => @user_checked_out_today_reservations_set %>
  <% end %>
  <% if !@user_checked_out_previous_reservations_set.empty? %>
    <h3>Checked out prior to today</h3>
    <%= render :partial => "user_reservations_list", :collection => @user_checked_out_previous_reservations_set %>
  <% end %>
  <% if !@user_reserved_reservations_set.empty? %>
    <h3>Future reservations</h3>
    <%= render :partial => "user_reservations_list", :collection => @user_reserved_reservations_set %>
  <% end %>
  
  <div id="left_stuff">	<%= button_to_function("Print this page".titleize, "javascript:print()", class: 'btn')%></div>
<% end %>

