<% title "Reservation ##{@reservation.id}" %>

<p>
  <strong>Reserved by:</strong>
  <%=h @reservation.reserver %>
</p>
<!-- <p>
  <strong>Checkout Handler:</strong>
  <%=h @reservation.checkout_handler %>
</p>
<p>
  <strong>Checkin Handler:</strong>
  <%=h @reservation.checkin_handler %>
</p> -->
<p>
  <strong>Start Date:</strong>
  <%=h @reservation.start_date %>
</p>
<p>
  <strong>Due Date:</strong>
  <%=h @reservation.due_date %>
</p>
<!-- <p>
  <strong>Checked Out:</strong>
  <%=h @reservation.checked_out %>
</p>
<p>
  <strong>Checked In:</strong>
  <%=h @reservation.checked_in %>
</p> -->
<p>
  <strong>Equipment:</strong>
  <ul>
    <% @reservation.equipment_models_reservations.each do |equipment_models_reservations| %>
      <li><%= equipment_models_reservations.quantity %> x <%= link_to equipment_models_reservations.equipment_model.name, equipment_models_reservations.equipment_model %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to "Edit", edit_reservation_path(@reservation) %> |
  <%= link_to "Destroy", @reservation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", reservations_path %>
</p>
