<% title "Reservation ##{@reservation.id}" + (@reservation.status == "reserved" ? "" : " (#{@reservation.status})") %>

<p>
  <strong>Reserved by:</strong>
  <%=h @reservation.reserver.name %>
</p>
<!-- <p>
  <strong>Checkout Handler:</strong>
  <%=h @reservation.checkout_handler %>
</p>
<p>
  <strong>Checkin Handler:</strong>
  <%=h @reservation.checkin_handler %>
</p> -->
<p>
  <strong>Start Date:</strong>
  <%=h @reservation.start_date.to_date.to_s(:long) %>
</p>
<p>
  <strong>Due Date:</strong>
  <%=h @reservation.due_date.to_date.to_s(:long) %>
</p>
<!-- <p>
  <strong>Checked Out:</strong>
  <%=h @reservation.checked_out %>
</p>
<p>
  <strong>Checked In:</strong>
  <%=h @reservation.checked_in %>
</p> -->
<p>
  <strong>Equipment:
  </strong>
  <ul>
    <% @reservation.equipment_models_reservations.each do |equipment_models_reservations| %>
      <li>
        <%= equipment_models_reservations.quantity %> x <%= link_to equipment_models_reservations.equipment_model.name, equipment_models_reservations.equipment_model %>
        <% if @reservation.equipment_objects %>
          <ul>
            <% (@reservation.equipment_objects & equipment_models_reservations.equipment_model.equipment_objects).each do |equipment_object| %>
              <li><%= link_to equipment_object.name, equipment_object %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <% if current_user.can_checkout? %>
    <% if @reservation.status == "reserved" %>
      <%= link_to "Check out", check_out_reservation_path(@reservation) %> |
    <% elsif @reservation.status != "returned" %>
      <%= link_to "Check in", check_in_reservation_path(@reservation) %> |
    <% end %>
  <% end %>
  <% if @reservation.status == "reserved" or current_user.is_admin? %>
    <%= link_to "Cancel reservation", @reservation, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <% if current_user.can_checkout? %>
    <%= link_to "View all reservations", reservations_path %>
  <% else %>
    <%= link_to "View all your reservations", reservations_path %>
  <% end %>
</p>
