<% if current_user.can_checkout? || current_user == @reservation.reserver %>
  <% title "Reservation ##{@reservation.id}" %>
  <% subtitle "#{@reservation.equipment_model.name}" %>

  <div class="row">
    <div id="bool_labels" class="span9">
      <% if current_user.is_admin_in_adminmode? %>
        <%= "<span class=\"user_label label-success\">Returned</span>".html_safe if @reservation.checked_in? %>
        <%= "<span class=\"user_label label-important\">Overdue</span>".html_safe if @reservation.status_for_report == 'overdue' %>
        <%= "<span class=\"user_label label-warning\">Returned Overdue</span>".html_safe if @reservation.status_for_report == 'returned overdue' %>
        <%= "<span class=\"user_label label-info\">Checked Out</span>".html_safe if @reservation.checked_out? %>
        <%= "<span class=\"user_label\">Missed</span>".html_safe if @reservation.status_for_report == 'missed' %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <%# left column  %>
    <div class="span3">
      <div class="well well-inverse">
          <%# equipment section  %>
            <h3><%= link_to @reservation.equipment_model.name, @reservation.equipment_model %></h3>
            <hr>
            <%= link_to @reservation.equipment_model do %>
              <%= image_tag @reservation.equipment_model.photo.url(:large) %>
            <% end %>
            <hr>
            <h3><%= link_to @reservation.equipment_object.nil? ? "(unassigned)" : @reservation.equipment_object.name, equipment_model_path(@reservation.equipment_model, anchor: 'items') %></h3>

            <%# buttons  %>
      </div>

      <%# shows renew button if due_date is today, tomorrow, or the day after %>

      <% if @reservation.is_eligible_for_renew? &&
      (@reservation.max_renewal_length_available != 0) && (!@reservation.checked_out.nil?) %>
        <div id="renew_box">
          At this time, you are eligible to renew the <%= @reservation.equipment_model.name.singularize %>
          reservation for <strong><%= pluralize(@reservation.max_renewal_length_available, 'day') %></strong>.
          <%= link_to "Renew Now", renew_path, remote: true, class: 'btn btn-primary' %>
        </div>
      <% elsif @reservation.checked_out.nil? or !@reservation.checked_in.nil? %>
        <%# you can't renew if you haven't checked it out, or if you've already checked it in %>
      <% else %>
        <p>
          This item is not currently eligible for renewal. Please remember to return the <%= @reservation.equipment_model.name.singularize %> to our office on <strong><%= @reservation.due_date.to_date.to_s(:long) %></strong>.
        </p>
      <% end %>
    </div>

    <%# right column  %>
    <div id="right_column" class="span6">
      <div class="row">
        <div class="span6">
          <%# DATE RANGE AND CALENDAR TABS AND CONTENT GO HERE  %>

          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#date_range" data-toggle="tab">Date Range</a></li>
              <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
            </ul>

            <div class="tab-content">
              <div id="date_range" class="tab-pane active">

                <div class="progress">
                  <div class="bar" style="width: 60%;">3 days</div>
                </div>

              </div>
              <div id="calendar" class="tab-pane">
                I'M GOING TO BE A CALENDAR !!!!!1111oneone
              </div>
            </div>
            <hr>
          </div>

        </div>
      </div>

      <div id= "people_row" class="row">
        <div class="span2">
          <%# RESERVED BY %>
          <div class="well">
            <header>
              <h4>Reserved</h4>
            </header>
            <hr>
            <%= link_to @reservation.reserver do %>
              <i class="icon-user"></i>
            <% end %>
            <p><h4>by <%= link_to @reservation.reserver.name, @reservation.reserver %></h4></p>
            <hr>
            <footer>
              <%= @reservation.created_at.strftime("%b %d, %Y at %I:%M%p") %>
            </footer>
          </div>
        </div>

        <div class="span2">
          <%# CHECKED OUT BY %>
          <% if @reservation.checked_out %>
            <div class="well">
              <header>
                <h4>Checked Out</h4>
              </header>
              <hr>
              <div class="icon-user-box">
                <%= link_to @reservation.checkout_handler do %>
                  <i class="icon-user"></i>
                <% end %>
              </div>
              <p><h4>by <%= link_to @reservation.checkout_handler.nil? ? "unknown" : @reservation.checkout_handler.name, @reservation.checkout_handler.nil? ? nil : @reservation.checkout_handler %></h4></p>
              <hr>
              <footer>
                <%= @reservation.checked_out.strftime("%b %d, %Y at %I:%M%p") %>
              </footer>
            </div>
          <% end %>
        </div>

        <div class="span2">
          <%# CHECKED IN BY %>
          <% if @reservation.checked_in %>
            <div class="well">
              <header>
                <h4>Checked In</h4>
              </header>
              <hr>
              <%= link_to @reservation.checkin_handler do %>
                <i class="icon-user"></i>
              <% end %>
              <p><h4>by <%= link_to @reservation.checkin_handler.nil? ? "unknown" : @reservation.checkin_handler.name, @reservation.checkin_handler.nil? ? nil : @reservation.checkin_handler %></h4></p>
              <hr>
              <footer>
                <%= @reservation.checked_in.strftime("%b %d, %Y at %I:%M%p") %>
              </footer>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="span9">
      <h2>Notes</h2>
      <%= markdown(@reservation.notes) unless @reservation.notes.nil? %>
    </div>
  </div>

  <hr>

  <p>
    <strong>Start Date:</strong>
    <%= @reservation.start_date.to_date.to_s(:long) %>
  </p>
  <div id="due_date_box">
    <p>
      <strong>Due Date:</strong>
      <%= @reservation.due_date.to_date.to_s(:long) %>
    </p>
  </div>

<div class="form-actions">
  <%= button_to_function("Print this page", "javascript:print()", :class => 'btn') %>
  <%# if (@reservation.status == "checked out") or (@reservation.status == "overdue") %>
    <%#= link_to "Email checkout receipt", {:controller => :reservations, :action => "checkout_email", :id => @reservation}, :method => "get", :class => 'btn' %>
	<%# elsif @reservation.status == "returned" %>
    <%#= link_to "Email return receipt", {:controller => :reservations, :action => "checkin_email", :id => @reservation}, :method => "get", :class => 'btn' %>
  <%# end %>
  <% if current_user.can_checkout? %>
    <%= link_to "Edit", edit_reservation_path(@reservation), :class => 'btn' %>
  <% end %>
  <% if @reservation.status == "reserved" or current_user.is_admin_in_adminmode? %>
    <%= link_to "Cancel Reservation", @reservation, :confirm => 'This will permanently delete the reservation. Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
  <% end %>
  </div>
<% end %>