<p>
  <strong>Reserved by:</strong>
  <%= link_to @user.name, @user %>
</p>
<p>
<% if current_user.can_checkout? %>
  <%= link_to "Check out", check_out_reservation_path %> |
  <%= link_to "Check in", check_in_reservation_path %> |
  <%= link_to "View all reservations", reservations_path %>
<% else %>
  <%= link_to "View all your reservations", reservations_path %>
<% end %>
</p>

