<% if current_user.can_checkout? || current_user == @user %>
  <p>
    <strong>Reserved by:</strong>
    <%= link_to @user.name, @user %>
  </p>

  <table>
    <tr>
      <th>Reservation #</th>
      <th>Equipment</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
  <%= render :partial => "user_reservations_list", :collection => @user_reservations_set %>
  </table>

  <p>
  <% if current_user.can_checkout? %>
    <%= link_to "Check out", check_out_reservations_for_user_path(@user.id) %> |
    <%= link_to "Check in", check_in_reservations_for_user_path(@user.id) %> |
    <%= link_to "View all reservations", reservations_path %>
  <% else %>
    <%= link_to "View all your reservations", reservations_path %>
  <% end %>
  </p>
<% end %>

