<%= stylesheet_link_tag('application', :media => :screen) %>
<%= stylesheet_link_tag('print', :media => :print) %>

<% if current_user.can_checkout? || current_user == @reservation.reserver %>
  <% title "Reservation ##{@reservation.id}" + (@reservation.status == "reserved" ? "" : " (#{@reservation.status})") %>

  <p>
    <strong>Reserved by:</strong>
    <%= link_to @reservation.reserver.name, @reservation.reserver %>
  </p>
  <p>
    <strong>Start Date:</strong>
    <%= @reservation.start_date.to_date.to_s(:long) %>
  </p>
  <div id="due_date_box">
    <strong>Due Date:</strong>
    <%= @reservation.due_date.to_date.to_s(:long) %>
  </div>
  <p>
    <strong>Equipment:</strong>
  	<%= @reservation.equipment_model.name %>
  	<%= @reservation.equipment_object.nil? ? "(unassigned)" : "(#{@reservation.equipment_object.name})" %>
  </p>
 
	<p>
		<strong>Notes:</strong>
		<%= @reservation.notes %>
	</p>

  <% if @reservation.checked_out %>
  <p>
    Checked out <%= @reservation.checked_out.to_s(:long) %>
    by <%= @reservation.checkout_handler.nil? ? "unknown" : @reservation.checkout_handler.name %>
  </p>
  <% end %>
  <% if @reservation.checked_in %>
    <p>
      Checked in <%= @reservation.checked_in.to_s(:long) %>
      by <%= @reservation.checkin_handler.nil? ? "unknown" : @reservation.checkin_handler.name %>
    </p>
  <% end %>
  <%# shows renew button if due_date is today, tomorrow, or the day after %>
  <% if @reservation.is_eligible_for_renew? and (@reservation.max_renewal_length_available != 0)%>
    <div id="renew_box">
      At this time, you are eligible to renew your <%= @reservation.equipment_model.name.singularize %>
      reservation for <strong><%= pluralize(@reservation.max_renewal_length_available, 'day') %></strong>. <%= link_to "Renew Now", renew_path, :remote => true %>
    </div>
  <% else %>
    <p>
      This item is not currently eligible for renewal. Please remember to return your <%= @reservation.equipment_model.name.singularize %> to our office on <strong><%= @reservation.due_date.to_date.to_s(:long) %></strong>.
    </p>
  <% end %>

  <p>
  <div id="left_stuff">	<%=button_to_function("Print this page", "javascript:print()")%></div>
	<% if @reservation.status == "checked out"%> 
    <div id="right_stuff"><%=button_to "Email checkout receipt", {:controller => :reservations, :action => "checkout_email", :id => @reservation}, :method => "get" %></div>
	<% elsif @reservation.status == "returned" %> 
    <div id="right_stuff"><%=button_to "Email return receipt", {:controller => :reservations, :action => "checkin_email", :id => @reservation}, :method => "get" %></div>
  <% end %>
  </p> <br /> <br />


  <p>
  <% if current_user.can_checkout? %>
    <% if @reservation.status == "reserved" %>
      <%= link_to "Check out", check_out_single_reservation_path(@reservation) %> |
    <% elsif @reservation.status != "returned" %>
      <%= link_to "Check in", check_in_single_reservation_path(@reservation) %> |
    <% end %>
      <%= link_to "Edit reservation", edit_reservation_path(@reservation) %> |
  <% end %>
  <% if @reservation.status == "reserved" or current_user.is_admin_in_adminmode? %>
    <%= link_to "Cancel reservation", @reservation, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %> |
  <% end %>
  <% if current_user.can_checkout? %>
    <%= link_to "View all reservations", reservations_path %>
  <% else %>
    <%= link_to "View all your reservations", reservations_path %>
  <% end %>
  </p>
<% end %>

