<% if current_user.can_checkout? || current_user == @reservation.reserver %>
  <% title "Reservation ##{@reservation.id}" + (@reservation.status == "reserved" ? "" : " (#{@reservation.status})") %>

  <p>
    <strong>Reserved by:</strong>
    <%= link_to @reservation.reserver.name, @reservation.reserver %>
  </p>
  <p>
    <strong>Start Date:</strong>
    <%= @reservation.start_date.to_date.to_s(:long) %>
  </p>
  <p>
    <strong>Due Date:</strong>
    <%= @reservation.due_date.to_date.to_s(:long) %>
  </p>
  <p>
    <strong>Equipment:</strong>
  	<%= @reservation.equipment_model.name %>
  	<%= @reservation.equipment_object.nil? ? "(unassigned)" : "(#{@reservation.equipment_object.name})" %>
  </p>
 
	<p>
		<strong>Notes:</strong>
		<%= @reservation.notes %>
	</p>

		<% if @reservation.checked_out %>
    <p>
      Checked out <%= @reservation.checked_out.to_s(:long) %>
      by <%= @reservation.checkout_handler.nil? ? "unknown" : @reservation.checkout_handler.name %>
    </p>
  <% end %>
  <% if @reservation.checked_in %>
    <p>
      Checked in <%= @reservation.checked_in.to_s(:long) %>
      by <%= @reservation.checkin_handler.nil? ? "unknown" : @reservation.checkin_handler.name %>
    </p>
  <% end %>
  <p>
  <% if current_user.can_checkout? %>
    <% if @reservation.status == "reserved" %>
      <%= link_to "Check out", check_out_single_reservation_path(@reservation) %> |
    <% elsif @reservation.status != "returned" %>
      <%= link_to "Check in", check_in_single_reservation_path(@reservation) %> |
    <% end %>
      <%= link_to "Edit reservation", edit_reservation_path(@reservation) %> |
  <% end %>
  <% if @reservation.status == "reserved" or current_user.is_admin_in_adminmode? %>
    <%= link_to "Cancel reservation", @reservation, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <% if current_user.can_checkout? %>
    <%= link_to "View all reservations", reservations_path %>
  <% else %>
    <%= link_to "View all your reservations", reservations_path %>
  <% end %>
  </p>
<% end %>

