<thead>
<tr>
  <th>Name</th>
  <th>Max Per User</th>
  <th>Max Checkout Length</th>
  <th>Sort Order</th>
  <th>Reason</th>
</tr>
</thead>
<tbody>
  <% cats.each do |cat_data| %>
    <% cat = cat_data.first %>
    <% message = cat_data.last %>
    <tr>
      <td><%= cat[:name] %></td>
      <td><%= cat[:max_per_user] %></td>
      <td><%= cat[:max_checkout_length] %></td>
      <td><%= cat[:sort_order] %></td>
      <td><%= message %></td>
    </tr>
  <% end %>
</tbody>
