<% title "Equipment Import Summary" %>

<% if @cat_statuses or @model_statuses or @item_statuses %>
	<% if @cat_statuses %>
		<% unless @cat_statuses[:fail].empty? %>
			<h2>Categories not successfully imported</h2>
			<table class="datatable-wide table table-striped table-bordered" id="cat_import_errors_table">
				<%= render :partial => 'import_cat_table', :locals => { :cats => @cat_statuses[:fail] } %>
			</table>
			<% unless @cat_statuses[:success].empty? %>
				<hr />
			<% end %>
		<% end %>

		<% unless @cat_statuses[:success].empty? %>
			<h2>Categories successfully imported</h2>
			<%= render :partial => 'categories/table', :locals => { :categories => @cat_statuses[:success] } %>
		<% end %>
	<% end %>
	<% if @model_statuses %>
		<% if @cat_statuses %>
			<hr />
			<hr />
		<% end %>
		<% unless @model_statuses[:fail].empty? %>
			<h2>Equipment Models not successfully imported</h2>
			<table class="datatable-wide table table-striped table-bordered" id="model_import_errors_table">
				<%= render :partial => 'import_model_table', :locals => { :models => @model_statuses[:fail] } %>
			</table>
			<% unless @model_statuses[:success].empty? %>
				<hr />
			<% end %>
		<% end %>

		<% unless @model_statuses[:success].empty? %>
			<h2>Equipment Models successfully imported</h2>
			<%= render :partial => 'equipment_models/table', :locals => { :equipment_models => @model_statuses[:success] } %>
		<% end %>
	<% end %>
	<% if @item_statuses %>
		<% if @cat_statuses or @item_statuses %>
			<hr />
			<hr />
		<% end %>
		<% unless @item_statuses[:fail].empty? %>
			<h2>Equipment Items not successfully imported</h2>
			<table class="datatable-wide table table-striped table-bordered" id="item_import_errors_table">
				<%= render :partial => 'import_item_table', :locals => { :items => @item_statuses[:fail] } %>
			</table>
			<% unless @item_statuses[:success].empty? %>
				<hr />
			<% end %>
		<% end %>

		<% unless @item_statuses[:success].empty? %>
			<h2>Equipment Items successfully imported</h2>
			<%= render :partial => 'equipment_items/table', :locals => { :equipment_items => @item_statuses[:success] } %>
		<% end %>
	<% end %>
<% end %>
<%= link_to "Import More Equipment", equip_import_page_path, :class => 'btn btn-default' %>
