<div class="thumbnail">

  <% if equipment_model.photo.exists? %>
    <%# show equipment model image %>
    <%= link_to equipment_model do %>
      <%= image_tag equipment_model.photo.url(:thumbnail) %>
    <% end %>
  <% else %>
    <%= link_to equipment_model do %>
      <%= image_tag "no-image.gif" %>
    <% end %>
  <% end %>
    <h3 class="equipment_title"><%= link_to equipment_model.name, equipment_model, :class => 'equipment_title_link', :rel => 'tooltip', :title => equipment_model.name %></h3>
   <div class="caption_cat">

      <hr class ="special-hr"/>
      <p>(<%= equipment_model.available?(cart.start_date, cart.due_date) || "0" %> available from <br /><%= cart.start_date.strftime("%b %d, %Y") %> to <%= cart.due_date.strftime("%b %d, %Y") %>)</p>
      <p class="equipment_descr">
        <%= equipment_model.description + " " %><%= link_to "More Info", equipment_model, :class => 'more_info' %>
      </p>
    </div>
    <% if equipment_model.model_restricted?(cart.reserver_id) %>
      <div class="add_to_cart_box">
        <%= button_tag "Add to Cart", :class => "btn disabled", :id => 'add_to_cart' %>
        <%= link_to "#qualifications_modal", class: 'not-qualified-icon', rel: "tooltip", title: "Not Qualified (click for more info)", :"data-toggle" => 'modal' do %>
          <i class="icon-warning-sign"></i>
      <% end %>
      </div>

        <div id="qualifications_modal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Qualification Required</h3>
          </div>
          <div class="modal-body">
            <%# TODO: Eventually requirements will be handled with special Requests, similar to how extended reservations are handled. %>
            <p><%= Requirement.list_requirement_admins(User.find(cart.reserver_id), equipment_model) %></p>
          </div>
        </div>
        

    <% elsif equipment_model.available?(cart.start_date, cart.due_date) > 0 %>
      <!--print add to cart link-->
      <div class="add_to_cart_box">
        <%= link_to "Add to Cart", add_to_cart_path(equipment_model), :method => :put, :remote => true, :class => "btn", :id => "add_to_cart" %>
        <% # (Using both the ":url" and ":href" symbols seems redundant. Remove one?) %>
      </div>
    <% else %>
      <div class="add_to_cart_box">
        <%= button_tag "Add to Cart", :class => "btn disabled", :id => 'add_to_cart' %>
      </div>
    <% end %>
</div>