<div class="thumbnail" id="em_<%=equipment_model.id%>">
  <%= link_to equipment_model do %>
    <% image_tag (equipment_model.photo.exists? ? equipment_model.photo.url(:thumbnail) : "no-image.gif") %>
  <% end %>
  <h3 class="equipment_title">
    <%= link_to equipment_model.name, equipment_model, class: 'equipment_title_link', rel: 'tooltip', title: equipment_model.name %>
  </h3>
  <div class="caption_cat">
    <hr class ="special-hr"/>
    <span class="giant-numbers span1">
      <% @available = equipment_model.num_available_from_source(cart.start_date, cart.due_date, relevant_reservations) %>
      <%= @available %>
    </span>
    <p class="model_availability">
      available from <%= cart.start_date.strftime("%b %d, %Y") %>
      to <%= cart.due_date.strftime("%b %d, %Y") %>
    </p>
    <hr class ="special-hr"/>
    <p class="equipment_descr">
      <%= markdown_to_plain_text(equipment_model.description) %><br/>
      <%= link_to "More Info", equipment_model, class: 'more_info' %>
    </p>
  </div>

  <div class = "add_to_cart_box">
    <% @restricted = false#equipment_model.model_restricted?(cart.reserver_id) %>
    <% if @restricted %>
      <%= button_tag "Add to Cart", class: "btn disabled add_to_cart_disabled"%>
      <%= link_to "#qualifications_modal", class: 'not-qualified-icon', rel: "tooltip", title: "Not Qualified (click for more info)", :"data-toggle" => 'modal' do %>
        <i class="fa fa-exclamation-triangle"></i>
      <% end %>
    <% elsif @available > 0 %>
      <%= link_to "Add to Cart", add_to_cart_path(equipment_model), :method => :put, :remote => true, :class => "btn add_to_cart" %>
    <% else %>
      <%= button_tag "Add to Cart", :class => "btn disabled add_to_cart_disabled"%>
    <% end %>
  </div>

  <% if @restricted %>
  <div id="qualifications_modal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Qualification Required</h3>
    </div>
    <div class="modal-body">
      <p><%= Requirement.list_requirement_admins(User.find(cart.reserver_id), equipment_model) %></p>:w
    </div>
  </div>
  <% end %>


</div>
