<div id="quicksearch">
  <p>
    Know what you're looking for? <div class="toggleLink"><input class="roundedcornersbuttonbig orangebutton" type="submit" value="Find it quickly" /></div>
  </p>
  <div id="quicksearch_hidden" style="display:none">
    <%= form_tag :action => 'search' do %>
      <p>
        I need a <%= select_tag :category, Category.singular_select_options %> from<br />
        <%= datepicker_input "cart", "start_date", :value => cart.start_date.strftime('%m/%d/%Y') %>
        to
        <%= datepicker_input "cart", "due_date", :value => cart.due_date.strftime('%m/%d/%Y') %>
      </p>
      <p>
        <%= submit_tag 'Narrow your search' %>
      </p>
    <% end %>
  </div>
</div>

