<% title "Catalog" %>

<%= render :partial => 'quicksearch' %>

<% if @equipment_models_by_category.empty? %>
  <p>Sorry, no equipment models were found.</p>
<% else %>
  <% @equipment_models_by_category.each do |category, equipment_models| %>
    <h2><%= link_to category.name, category_equipment_models_path(category) %></h2>
    <ul>
    <% equipment_models.each do |equipment_model| %>
      <li>
        <%= link_to equipment_model.name, equipment_model %><br />
        (<%= equipment_model.available?(cart.start_date..cart.due_date) || "0" %> available from <%= cart.start_date %> to <%= cart.due_date %>)<br />
        <%= link_to_remote "[add to cart]", {:url => add_to_cart_path(equipment_model)}, :href => add_to_cart_path(equipment_model) %><br /><br />
      </li>
    <% end %>
    </ul>
  <% end %>
<% end %>