<% title "Catalog" %>

<%= render :partial => 'quicksearch' %>

<% if @equipment_models_by_category.empty? %>
  <p>Sorry, no equipment models were found.</p>
<% else %>
  <% @equipment_models_by_category.each do |category, equipment_models| %>
    <h2 class="catalog"><%= link_to category.name, category_equipment_models_path(category) %></h2>
    <ul class="catalog">
    <% unless equipment_models.nil? %>
      <% equipment_models.each do |equipment_model| %>
        <li>
          <%= (link_to (image_tag equipment_model.photos.first.data.url(:small), :class => 'product_small'), equipment_model, :target => '_blank' ) unless equipment_model.photos.empty? %>
          <h3><%= link_to equipment_model.name, equipment_model %></h3>
          (<%= equipment_model.available?(cart.start_date..cart.due_date) || "0" %> available from <%= cart.start_date %> to <%= cart.due_date %>)<br />
          <%= link_to_remote "[add to cart]", {:url => add_to_cart_path(equipment_model)}, :href => add_to_cart_path(equipment_model) %><br /><br />
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>