<% title "Catalog" %>

<div id = 'models_available'>
<% if @eq_models_by_category.empty? %>
  <%= render partial: 'no_equipment' %>
<% else %>
    <div class="row">
      <div id="pagination_line" class="col-md-9">
        <%# for kaminari pagination %>
        <%= paginate @page_eq_models_by_category,
              params: {controller: 'catalog', action: 'index' } %>
        <%= form_tag update_user_per_cat_page_path,
              id: 'items_per_form', class: "form-inline pull-right",
              remote: true, method: 'put' do %>
          <%= label_tag "Items per page:" %>
          <%= select_tag :items_per_page,
                options_for_select(@per_page_opts, session[:items_per_page]),
                :class => 'col-md-3 autosubmitme' %>
        <% end %>
      </div>
    </div>

  <div id="catalog_listing">
    <%= render partial: 'catalog_listing', locals: { eq_models_by_category: @eq_models_by_category, available_string: @available_string, availability_hash: @availability_hash } %>
  </div>
  <%= paginate @page_eq_models_by_category %>
<% end %>
</div>
