<% title sanitize("Search results for \"#{params[:query]}\"") %>

<% if !@category_results.empty? %>
  <h2 class="span9">Category results</h2>
  <% @category_results.each do |category| %>
    <div class="span3">
      <div class="well-nomargin">
        <h3 class="catalog">
          <!--print category name-->
          <%= link_to category.name, category_equipment_models_path(category) %>
        </h3> 
      </div>
    </div>
  <% end %>
<% end %>

<% if !@equipment_model_results.empty? %>
  <% if !@category_results.empty? %>
    <h2 class="span9">Equipment model results</h2>
  <% end %>
  <ul class="thumbnails">
    <% @equipment_model_results.each do |equipment_model| %>
      <li class="span3">      
        <%= render :partial => 'equipment_model_div', :locals => { :equipment_model => equipment_model } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if !@equipment_object_results.empty? %>
  <h2 class="span9">Equipment items results</h2>
  <% @equipment_object_results.each do |equipment_object| %>
    <div class="well-nomargin span4">
      <p>
        <strong>Model:</strong>
        <%= link_to equipment_object.equipment_model.name, equipment_model_path(equipment_object.equipment_model) %>
      </p>
      <p>
        <strong>Item:</strong>
        <%= equipment_object.name %> (<%= equipment_object.serial %>)
      </p>
      <p>
        <strong>Status:</strong> 
        <% if equipment_object.available? %>
          (available)
        <% else %>
          (not available)
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>

