<% title 'Sign In' %>

<%= simple_form_for resource, as: resource_name, url: session_path(resource_name),
  html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, required: false, autofocus: true %>
  <%= f.input :password, required: false %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      <%= f.button :submit, 'Sign in' %>
      <% if AppConfig.check(:enable_new_users) %>
        <%= link_to 'Register', new_user_path, class: 'btn btn-default' %>
      <% end %>
      <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
