<% title "Categories" %>

<table>
  <tr>
    <th>Name</th>
    <th>Max Per User</th>
    <th>Max Checkout Length</th>
    <th>Sort Order</th>
  </tr>
  <% for category in @categories %>
    <% if category.deleted_at %>
      <tr class="deactivated">
      <% @toggle = "link_to \"Activate\", activate_path(:categories,category)" %>
    <% else %>
      <tr class= "activated">
      <% @toggle = "link_to \"De-Activate\", deactivate_path(:categories,category)" %>
    <% end %>
      <td><%= link_to category.name, category %></td>
      <td><%= category.maximum_per_user %></td>
      <td><%= category.maximum_checkout_length %></td>
      <td><%= category.sort_order %></td>
      <% if current_user.is_admin_in_adminmode? %>
       <td><%= link_to "Edit", edit_category_path(category) %></td>
       <td><%= eval @toggle %></td>
       <td><%= link_to "Destroy", category, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "New Category", new_category_path %>
  <% if params[:show_deleted] %>
   | <%= link_to "Hide Old Categories from List", categories_path %>
  <% else %>
   | <%= link_to "Show Old Categories in List", categories_path(:show_deleted => true) %>
  <% end %>
</p>
