<% title "Categories" %>

<table>
  <tr>
    <th>Name</th>
    <th>Max Per User</th>
    <th>Max Checkout Length</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%= link_to category.name, category %></td>
      <td><%=h category.max_per_user %></td>
      <td><%=h category.max_checkout_length %> days</td>
      <td><%= link_to "Edit", edit_category_path(category) %></td>
      <td><%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_category_path %></p>
