<% title "Categories" %>

<table id="table_woo">
  <thead>
  <tr>
    <th>Name</th>
    <th>Max Per User</th>
    <th>Max Checkout Length (days)</th>
    <th>Sort Order</th>
  <%# these blank TH's necessary for the sort function %>
  <% if current_user.is_admin_in_adminmode? %>
    <th> </th>
    <th> </th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% for category in @categories %>
    <% if category.deleted_at %>
      <tr class="deactivated">
      <% @toggle = "link_to \"Activate\", activate_path(:categories,category)" %>
    <% else %>
      <tr class= "activated">
      <% @toggle = "link_to \"De-Activate\", deactivate_path(:categories,category)" %>
    <% end %>
      <td><%= link_to category.name, category %></td>
      <td><%= category.maximum_per_user %></td>
      <td><%= category.maximum_checkout_length %></td>
      <td><%= category.sort_order %></td>
      <% if current_user.is_admin_in_adminmode? %>
       <td><%= link_to "Edit", edit_category_path(category) %></td>
       <td><%= eval @toggle %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <% if current_user.is_admin_in_adminmode? %>
    <%= link_to "New Category", new_category_path %> |
  <% end %>
  <% if params[:show_deleted] %>
    <%= link_to "Hide Old Categories from List", categories_path %>
  <% else %>
    <%= link_to "Show Old Categories in List", categories_path(:show_deleted => true) %>
  <% end %>
</p>
