<% title "Categories" %>

<table id="table_woo" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Max Per User</th>
    <th>Max Checkout Length (days)</th>
    <th>Sort Order</th>
  <%# these blank TH's necessary for the sort function %>
  <% if can? :manage, Category %>
    <th class="no_sort"> </th>
    <th class="no_sort"> </th>
  <% end %>
  </tr>
  </thead>
  <tbody>
  <% for category in @categories %>
    <tr>
      <td><%= link_to category.name, category %></td>
      <td><%= intify category.max_per_user %></td>
      <td><%= intify category.max_checkout_length %></td>
      <td><%= category.sort_order %></td>
      <% if can? :manage, Category %>
       <td><%= link_to "Edit", edit_category_path(category), :class => "btn" %></td>
       <td>
         <%= make_deactivate_btn(:categories,category) %>
       </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<hr />

<div class="form-actions">
  <% if can? :manage, Category %>
    <%= link_to "New Category", new_category_path, :class => "btn btn-primary" %>
    <%= link_to "Import Categories", equip_import_page_path, :class => "btn" %>
  <% end %>
  <% if params[:show_deleted] %>
    <%= link_to "Hide Old Categories from List", categories_path, :class => "btn" %>
  <% else %>
    <%= link_to "Show Old Categories in List", categories_path(:show_deleted => true), :class => "btn" %>
  <% end %>
</div>
