<% title "Category: "+@category.name %>

<div class="btn-group">
  <%= link_to "Add new #{@category.name.singularize} model".titleize, new_category_equipment_model_path(@category), class: 'btn' %>
  <%= link_to "View all #{@category.name.singularize} models".titleize, category_equipment_models_path(@category), class: 'btn' %>
</div>
<hr />

<p>
  <strong>Max Per User:</strong>
  <%= intify @category.max_per_user %>
</p>
<p>
  <strong>Max Checkout Length:</strong>
  <%= dayify @category.max_checkout_length %>
</p>
<p>
  <strong>Sort Order:</strong>
  <%= @category.sort_order %>
</p>
<p>
  <strong>Activated:</strong>
  <%= @category.deleted_at == nil %>
</p>

<% unless (@category.max_renewal_length.nil?) or (@category.max_renewal_times.nil?) %>
  <p>
    <strong>Default Maximum Renewal Period:</strong>
    <%= pluralize(@category.maximum_renewal_length, 'day') %>
  </p>
  <% unless @category.renewal_days_before_due.nil? %>
    <p>
      Items in this category are by default available for renewal <strong>
      <%= pluralize(@category.maximum_renewal_days_before_due, 'day') %>
      </strong> before the reservation due date.
    </p>
  <% else %>
    <p>
      By default, items in this category may be renewed <strong>at any time</strong>.
    </p>
  <% end %>
  <p>
    <strong>Default Maximum Renewals per Reservation:</strong>
    <%= intify @category.max_renewal_times %>
  </p>
<% else %>
  <p>
    <strong><em>By default, items in this category are not available for renewal.</em></strong>
  </p>
<% end %>

<% if can? :manage, Category %>
  <div class="form-actions">
    <%= link_to "Edit Category", edit_category_path(@category), class: 'btn' %>
    <%= make_deactivate_btn :categories, @category %>
    <%= link_to "View All Categories", categories_path, class: 'btn' %>
  </div>
<% end %>
