<% title "Category: "+@category.name %>

<p>
  <strong>Max Per User:</strong>
  <%=h @category.maximum_per_user %>
</p>
<p>
  <strong>Max Checkout Length:</strong>
  <%=h @category.maximum_checkout_length %>
</p>

<p>
  <%= link_to "Add new "+@category.name.singularize+" model", new_category_equipment_model_path(@category) %> | 
  <%= link_to "View all "+@category.name.singularize+" models", category_equipment_models_path(@category) %>
</p>

<p>
  <%= link_to "Edit Category", edit_category_path(@category) %> |
  <%= link_to "Destroy Category", @category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All Categories", categories_path %>
</p>
