<% title "Category: "+@category.name %>

<div class="btn-group">
  <%= link_to "Add new #{@category.name.singularize} model".titleize, new_category_equipment_model_path(@category), class: 'btn' %>
  <%= link_to "View all #{@category.name.singularize} models".titleize, category_equipment_models_path(@category), class: 'btn' %>
</div>
<hr />

<p>
  <strong>Max Per User:</strong>
  <%= @category.maximum_per_user %>
</p>
<p>
  <strong>Max Checkout Length:</strong>
  <% if @category.maximum_checkout_length == "unrestricted" %>
    <%= @category.maximum_checkout_length %>
  <% else %>
    <%= pluralize(@category.maximum_checkout_length, 'day') %>
  <% end %>
</p>
<p>
  <strong>Sort Order:</strong>
  <%= @category.sort_order %>
</p>
<p>
  <strong>Activated:</strong>
  <%= @category.deleted_at == nil %>
</p>

<% if (@category.maximum_renewal_length != 0) and (@category.maximum_renewal_times != 0) %>
  <p>
    <strong>Default Maximum Renewal Period:</strong>
    <%= pluralize(@category.maximum_renewal_length, 'day') %>
  </p>
  <% if @category.maximum_renewal_days_before_due != "unrestricted" %>
    <p>
      Items in this category are by default available for renewal <strong>
      <%= pluralize(@category.maximum_renewal_days_before_due, 'day') %>
      </strong> before the reservation due date.
    </p>
  <% else %>
    <p>
      By default, items in this category may be renewed <strong>at any time</strong>.
    </p>
  <% end %>
  <p>
    <strong>Default Maximum Renewals per Reservation:</strong>
    <%= @category.maximum_renewal_times %>
  </p>
<% else %>
  <p>
    <strong><em>By default, items in this category are not available for renewal.</em></strong>
  </p>
<% end %>

<div class="form-actions">
  <%= link_to "Edit Category", edit_category_path(@category), class: 'btn' %>
  <%= link_to "Destroy Category", @category, class: 'btn btn-danger', :confirm => 'Are you sure? This could have unintended consequences', :method => :delete %>
  <%= link_to "View All Categories", categories_path, class: 'btn' %>
</div>