  <% if @restricted %>
    <%= link_to "#qualifications_modal",
      class: 'not-qualified-icon-em',
      rel: "tooltip",
      title: 'Not Qualified (click for more info)',
      :"data-toggle" => 'modal' do %>
        <i class="fa fa-exclamation-triangle"></i>
     <% end %>
     <%= button_tag "Add to Cart", remote: true, class: 'btn btn-primary btn-large disabled' %>
     <div id="qualifications_modal" class="modal hide fade">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3><%= "Qualification Required" %></h3>
       </div>
       <div class="modal-body">
         <p>
           <%= Requirement.list_requirement_admins(current_user, @equipment_model)%>
         </p>
      </div>
    </div>
   <% else %>

     <%= link_to "Add to Cart", {:url => add_to_cart_path(@equipment_model)},
                                 :href => add_to_cart_path(@equipment_model),
                                 :method => :put, :remote => true, :class => 'btn btn-primary btn-large' %>
   <% end %>

