<% form_for @equipment_model, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <% if @category %>
    <%= f.hidden_field :category_id, :value => @category.id %>
  <% else %>
    <p>
      <%= f.label :category_id %><br />
      <%= f.select :category_id, Category.select_options, :prompt => true %>
    </p>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :late_fee %><br />
    $<%= f.text_field :late_fee, :class => 'number_input' %> / day
  </p>
  <p>
    <%= f.label :replacement_fee %><br />
    $<%= f.text_field :replacement_fee, :class => 'number_input' %>
  </p>
  <p>
    <%= f.label :max_per_user %><br />
    <%= f.text_field :max_per_user, :class => 'number_input' %>
  </p>
  
  <% @equipment_model.documents.each do |document| %>
    <div class="equipment_model_documents">
      <%= document.name %>
      <%= check_box_tag "document_ids[]", document.id %> (Check to delete)
    </div>
  <% end %>
  
  <div id="documents">
    <%# render :partial => 'documents/document', :collection => @equipment_model.documents if @equipment_model.documents %>
  </div>

  <%= link_to_function "Add Document" do |document|
    document.insert_html :bottom, :documents, :partial => 'documents/document', :object => Document.new
  end %>
  
  <p><%= f.submit "Submit" %></p>
<% end %>
