<%= simple_form_for @equipment_model, :html => { :multipart => true } do |f| %>

<!-- Paperclip currently does not support simple form and validations and will fail silently. 
This code is necessary until they introduce a bug fix (Github issue #266) -->
<ul>
	  <% @equipment_model.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
</ul>
	
  <%#= f.error_notification %>
  <%= f.association :category %> 
  <input class="hidden" id="category" name="MODELNAME[category]" type="hidden">
  <%= link_to "[add new category]", new_category_path %>
  <%= f.association :associated_equipment_models %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :late_fee %>
  <%= f.input :replacement_fee %>
  <%= f.input :max_per_user, label: "Maximum per user", hint: "leave blank to default to category value" %>
  <%= f.input :deleted_at, label: "Inactive", as: :deleted %>
  
  <strong>Renewal Options</strong>
  <%= f.input :max_renewal_times, label: 'Maximum number of times this item may be renewed', hint: 'leave blank to default to category value' %>
  <%= f.input :max_renewal_length, label: 'Maximum time allotted for each renewal period', hint: 'actual renewal period will depend on availability' %>
  <%= f.input :renewal_days_before_due, label: 'How many days before the due date should the Renew button become available?', hint: 'leave blank to default to category value' %>

  <strong>Checkout Procedures</strong>
  <%= f.simple_fields_for :checkout_procedures do |procedure| %>
    <%= render 'checkout_procedure_fields', :f => procedure %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add step', f, :checkout_procedures %>
  </div>

  Checkin Procedures
  <%= f.simple_fields_for :checkin_procedures do |procedure| %>
    <%= render 'checkin_procedure_fields', :f => procedure %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add step', f, :checkin_procedures %>
  </div>
<p>
  <%= f.input :photo, :as => :file, :label => "Upload Photo" %>
</p>

<p>
  <%= f.input :documentation, :as => :file, :label => "Upload Documentation" %>
</p>
	
  <%#= f.error :base %>
  <%= f.button :submit %>
<% end %>
