<table id="table_equipment_models" class="datatable-order table table-striped table-bordered">
  <thead>
  <tr>
    <th class="text-center col-md-2">Name</th>
    <% if can? :view_detailed, EquipmentModel %>
      <th class="no_sort text-center">Current Status</th>
      <th class="text-center">Available</th>
      <th class="text-center">Reserved</th>
      <th class="text-center">Checked-Out</th>
      <th class="text-center">Overdue</th>
      <th class="text-center">Total Stock</th>
      <% if can? :manage, EquipmentModel %>
        <th class="no_sort text-center"> </th>
        <th class="no_sort text-center"> </th>
        <% unless @category.blank? %>
          <th class="text-center">Ordering</th>
        <%end %>
      <% end%>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% for equipment_model in @equipment_models %>
    <tr>
      <td class="text-center"><%= link_to equipment_model.name, equipment_model %></td>
      <% if can? :view_detailed, EquipmentModel %>
        <% if equipment_model.availability(Time.zone.today) == 'all' %>
          <td class="text-center"><span class="label label-success">All  Available</span></td>
        <% elsif equipment_model.availability(Time.zone.today) == 'some' %>
          <td class="text-center"><span class="label label-warning">Some Available</span></td>
        <% else %>
          <td class="text-center"><span class="label label-danger">None Available</span></td>
        <% end %>
        <td class="text-center"><%= equipment_model.num_available_on(Time.zone.today) %></td>
        <td class="text-center"><%= equipment_model.num_busy(Time.zone.today, Time.zone.today, equipment_model.reservations)%></td>
        <td class="text-center"><%= equipment_model.reservations.checked_out.count %></td>
        <td class="text-center"><%= equipment_model.overdue_count %></td>
        <td class="text-center"><%= equipment_model.equipment_items.count %></td>
        <% if can? :manage, EquipmentModel %>
          <td class="text-center"><%= link_to "Edit", edit_equipment_model_path(equipment_model), class: "btn btn-default" %></td>
          <td class="text-center"><%= equipment_model.decorate.make_deactivate_btn %></td>
          <% unless @category.blank? %> 
            <td class="text-center"><%= display_order(equipment_model) %><%= link_to '', sort_up_path(equipment_model), class: "btn glyphicon glyphicon-arrow-up" , method: :put%><%= link_to "", sort_down_path(equipment_model), class: "btn glyphicon glyphicon-arrow-down" , method: :put%></td> 
          <% end %>
        <% end%>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>