<table id="table_equipment_models" class="datatable-wide table table-striped table-bordered">
  <thead>
  <tr>
    <th class="text-center col-md-2">Name</th>
  <% if can? :manage, Reservation %>
    <th class="no_sort text-center">Current Status</th>
    <th class="text-center">Available</th>
    <th class="text-center">Reserved</th>
    <th class="text-center">Checked-Out</th>
    <th class="text-center">Overdue</th>
    <th class="text-center">Total Stock</th>
    <% if can? :manage, EquipmentModel %>
      <th class="no_sort text-center"> </th>
      <th class="no_sort text-center"> </th>
    <% end%>
  <% end %>
  </tr>
  </thead>
  <tbody>
    <% for equipment_model in @equipment_models %>
    <tr>
      <td class="text-center"><%= link_to equipment_model.name, equipment_model %></td>
      <% if can? :manage, Reservation %>
        <% if equipment_model.availability(Time.zone.today) == 'all' %>
          <td class="text-center"><span class="label label-success">All  Available</span></td>
        <% elsif equipment_model.availability(Time.zone.today) == 'some' %>
          <td class="text-center"><span class="label label-warning">Some Available</span></td>
        <% else %>
          <td class="text-center"><span class="label label-danger">None Available</span></td>
        <% end %>
        <td class="text-center"><%= equipment_model.available_count(Time.zone.today) %></td>
        <td class="text-center"><%= equipment_model.num_reserved(Time.zone.today, Time.zone.today, equipment_model.reservations)%></td>
        <td class="text-center"><%= equipment_model.reservations.checked_out.count %></td>
        <td class="text-center"><%= equipment_model.number_overdue %></td>
        <td class="text-center"><%= equipment_model.equipment_items.size %></td>
        <% if can? :manage, EquipmentModel %>
          <td class="text-center"><%= link_to "Edit", edit_equipment_model_path(equipment_model), class: "btn btn-default" %></td>
          <td class="text-center"><%= equipment_model.decorate.make_deactivate_btn %></td>
        <% end%>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
