<% title (@category.nil? ? "Equipment Models" : @category.name.pluralize) %>

<table>
  <tr>
    <th>Name</th>
    <%= "<th>Type</th>" unless @category %>
  </tr>
  <% for equipment_model in @equipment_models %>
    <tr>
      <td><%= link_to equipment_model.name, equipment_model %></td>
      <%= ("<td>" + (link_to equipment_model.category.name.singularize, equipment_model.category) + "</td>") unless @category %>
      <% if current_user.is_admin? %>
        <td><%= link_to "Edit", edit_equipment_model_path(equipment_model) %></td>
        <td><%= link_to "Destroy", equipment_model, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  <% if @category %>
    <% if current_user.is_admin? %>
      <%= link_to ("New "+@category.name.singularize), new_category_equipment_model_path(@category) %> |
    <% end %>
    <%= link_to "View All Equipment Models", equipment_models_path %>
  <% elsif current_user.is_admin? %>
    <%= link_to "New Equipment Model", new_equipment_model_path %>
  <% end %>
</p>
