<% title (@category.nil? ? "Equipment Models" : @category.name.pluralize) %>

<table>
  <tr>
    <th>Name</th>
    <%= "<th>Type</th>".html_safe unless @category %>
  </tr>
  <% for equipment_model in @equipment_models %>
    <% if equipment_model.deleted_at %> 
      <tr class="deactivated">
      <% @toggle = "link_to \"Activate\", activate_path(:equipment_models,equipment_model)" %>
    <% else %>
      <tr class= "activated">
      <% @toggle = "link_to \"De-Activate\", deactivate_path(:equipment_models,equipment_model)" %>
    <% end %>
      <td><%= link_to equipment_model.name, equipment_model %></td>
      <%= ("<td>" + (link_to equipment_model.category.name.singularize, equipment_model.category) + "</td>").html_safe unless @category %>
      <% if current_user.is_admin_in_adminmode? %>
        <td><%= link_to "Edit", edit_equipment_model_path(equipment_model) %></td>
        <td><%= eval @toggle %></td>
        <td><%= link_to "Destroy", equipment_model, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>
  <% if @category %>
    <% if current_user.is_admin_in_adminmode? %>
      <%= link_to ("New "+@category.name.singularize), new_category_equipment_model_path(@category) %> |
    <% end %>
    <%= link_to "View All Equipment Models", equipment_models_path %>
  <% elsif current_user.is_admin_in_adminmode? %>
    <%= link_to "New Equipment Model", new_equipment_model_path %>
  <% end %>
  <% if params[:show_deleted] %>
   | <%= link_to "Hide Deactivated Equipment Models from List", equipment_models_path %>
  <% else %>
   | <%= link_to "Show Deactivated Equipment Models in List", equipment_models_path(:show_deleted => true) %>
  <% end %>
</p>
