<% title @equipment_model.category.name.singularize + ": "+@equipment_model.name %>

<p>
  <strong>Description:</strong>
  <%=h @equipment_model.description %>
</p>
<p>
  <strong>Late Fee:</strong>
  <%=h number_to_currency(@equipment_model.late_fee) %> / day
</p>
<p>
  <strong>Replacement Fee:</strong>
  <%=h number_to_currency(@equipment_model.replacement_fee) %>
</p>
<p>
  <strong>Max Per User:</strong>
  <%=h @equipment_model.maximum_per_user %>
</p>
<p id="documents">
  <strong>Documents:</strong>
  <% if @equipment_model.documents.empty? %>
    none
    <small><%= link_to_function "[add document]" do |document|
      document.insert_html :bottom, :documents, :partial => 'documents/add_document_form', :object => Document.new
    end %></small>
  <% else %>
    <ul>
      <% @equipment_model.documents.each do |document| %>
        <li><%= link_to document.name, document.data.url %> <%= link_to "[x]", document, :confirm => 'Are you sure you want to delete this document?', :method => :delete %>
        </li>
      <% end %>
      <li style="list-style:none">
        <small><%= link_to_function "[add document]" do |document|
          document.insert_html :bottom, :documents, :partial => 'documents/add_document_form', :object => Document.new
        end %></small>
      </li>
    </ul>
  <% end %>
</p>
<p id="equipment_objects">
  <strong>Equipment Objects:</strong>
  <% if @equipment_model.equipment_objects.empty? %>
    none
    <small><%= link_to_function "[add equipment_object]" do |document|
      document.insert_html :bottom, :equipment_objects, :partial => 'equipment_objects/add_equipment_object_form', :object => EquipmentObject.new
    end %></small>
  <% else %>
    <ul>
      <% @equipment_model.equipment_objects.each do |equipment_object| %>
        <li><%= link_to equipment_object.name, equipment_object %> <%= link_to "[x]", document, :confirm => 'Are you sure you want to delete this equipment object?', :method => :delete %>
        </li>
      <% end %>
      <li style="list-style:none">
        <small><%= link_to_function "[add equipment_object]" do |document|
          document.insert_html :bottom, :equipment_objects, :partial => 'equipment_objects/add_equipment_object_form', :object => EquipmentObject.new
        end %></small>
      </li>
    </ul>
  <% end %>
</p>
<p>
  <%= link_to "Add new "+@equipment_model.name.singularize+" object", new_equipment_model_equipment_object_path(@equipment_model) %> | 
  <%= link_to "View all "+@equipment_model.name.singularize+" objects", equipment_model_equipment_objects_path(@equipment_model) %>
</p>

<p>
  <%= link_to "Edit "+@equipment_model.category.name.singularize, edit_equipment_model_path(@equipment_model) %> |
  <%= link_to "Destroy "+@equipment_model.category.name.singularize, @equipment_model, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All "+@equipment_model.category.name.pluralize, category_equipment_models_path(@equipment_model.category) %>
</p>
