<% title @equipment_model.category.name.singularize + ": "+@equipment_model.name %>

<p>
  <strong>Description:</strong>
  <%=h @equipment_model.description %>
</p>
<p>
  <strong>Late Fee:</strong>
  <%=h number_to_currency(@equipment_model.late_fee) %> / day
</p>
<p>
  <strong>Replacement Fee:</strong>
  <%=h number_to_currency(@equipment_model.replacement_fee) %>
</p>
<p>
  <strong>Max Per User:</strong>
  <%=h @equipment_model.max_per_user %>
</p>
<p id="documents">
  <strong>Documents:</strong>
  <% if @equipment_model.documents.empty? %>
    none
  <% else %>
    <ul>
    <% @equipment_model.documents.each do |document| %>
      <li><%= link_to document.name, document.data.url %> <%= link_to "[x]", document, :confirm => 'Are you sure you want to delete this document?', :method => :delete %>
      </li>
    <% end %>
    </ul>
  <% end %>
</p>
<%= link_to_function "Add Document" do |document|
  document.insert_html :bottom, :documents, :partial => 'documents/document', :object => Document.new
end %>

<p>
  <%= link_to "Add new "+@equipment_model.name.singularize+" object", new_equipment_model_equipment_object_path(@equipment_model) %> | 
  <%= link_to "View all "+@equipment_model.name.singularize+" objects", equipment_model_equipment_objects_path(@equipment_model) %>
</p>

<p>
  <%= link_to "Edit "+@equipment_model.category.name.singularize, edit_equipment_model_path(@equipment_model) %> |
  <%= link_to "Destroy "+@equipment_model.category.name.singularize, @equipment_model, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All "+@equipment_model.category.name.pluralize, category_equipment_models_path(@equipment_model.category) %>
</p>
