<% title @equipment_model.name %>
<% subtitle @equipment_model.category.name.singularize %>

   <% reqs = Requirement.where(:equipment_model_id => @equipment_model.id) %>

<!-- EQUIPMENT MODEL INFO BOX -->
<div class="row em_info">
  <div class="span3">
  <% if @equipment_model.photo.exists? %>
  <div class="image_box">
    <%= link_to "#image_modal", :"data-toggle" => 'modal' do %>
      <%= image_tag @equipment_model.photo.url(:large) %>
    <% end %>
    <div id="image_modal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= @equipment_model.name %></h3>
      </div>
      <div class="modal-body">
        <%= image_tag @equipment_model.photo.url(:original) %>
      </div>
    </div>
  </div>
    
  <% else %>
      <%= image_tag "no-image-260.gif" %>
  <% end %>
  </div>
  <div class="span6">
    <div class="row">  
      <div class="span4">
        <h3 class="availability">
          <%= @equipment_model.available?(cart.start_date..cart.due_date) || "0"%> available of <%= @equipment_model.equipment_objects.size %>
        </h3>
        <p>    
          <%= content_tag :div, class: "progress #{progress_color}" do %>
            <%= content_tag :div, nil, class: 'bar', style: "width: 0%;", :"data-percentage" => bar_progress.chop %>
          <% end %>
        </p>
        <h3 class="availability">from <%= cart.start_date.strftime("%b %d, %Y") %> – <%= cart.due_date.strftime("%b %d, %Y") %></h3>
      </div>


      <div class="span2">     <!--TODO: Make these messages more elegant. Right now they work, but aren''t pretty -->
            <% if !reqs.empty? && @equipment_model.model_restricted?(cart.reserver_id) %>
                     Sorry. You can't check that out, because you haven't received proper training
            <% elsif (a = BlackOut.date_is_blacked_out(cart.start_date)) && a.black_out_type_is_hard %>
                 Cannot checkout start_date black out.
            <% elsif (a = BlackOut.date_is_blacked_out(cart.due_date)) && a.black_out_type_is_hard %>
                   Cannot do end date is bad
            <% else %>
            
                   <%= link_to "Add to Cart", {:url => add_to_cart_path(@equipment_model)}, 
        															:href => add_to_cart_path(@equipment_model), 
        															:remote => true, :class => 'btn btn-primary btn-large' %>
          <% end %>
      </div>
    </div>
  
    <div class="associated_em_box">    
      <div class="row">
          <div class="span6">
            <% unless @associated_equipment_models.empty? %>
              <h3>You Might Also Like:</h3>
            <% end %>
          </div>
        </div>
        <div class="row">
          <!-- associated equipment models -->
          <% @associated_equipment_models.each do |em| %>
            <div class="span1">
              <%= link_to em do %>
                <%= image_tag evaluate_img_presence(em), rel: 'popover', title: em.name, :"data-content" => em.description.truncate(100) %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
    
  </div>
  
</div>

<hr />
<!-- SUBNAV SECTION -->
<div id="subnavbar" class="subnav">
  <ul class="nav nav-pills">
    <li class="hide"><h4><a href="#"><%= @equipment_model.name.truncate(50) %></a></h4></li>
    <li><a href="#description">Description</a></li>
    <li><a href="#details">Details</a></li>
    <% if @equipment_model.documentation.exists? %>
      <li><a href="#documentation">Documentation</a></li>
    <% end %>
    <% if current_user.is_admin_in_adminmode? %>
      <li><a href="#items">Items</a></li>
      <li><a href="#procedures">Procedures</a></li>
    <% end %>
  </ul>
</div>
<hr />
<!-- SUBBODY SECTION -->

<!-- DESCRIPTION -->
<section id="description">
  <h2>Description</h2><hr />
  <p>
    <%= sanitize(@equipment_model.formatted_description) %>
  </p>
</section>

<!-- DETAILS -->
<section id="details">
  <h2>Details</h2><hr />
  <!-- Title Row -->
  <%= content_tag :div, :class => 'row' do %>
    <%= content_tag :div, :class => 'span4' do %>
      <h4>Late Fee</h4>
    <% end %>
    <%= content_tag :div, :class => 'span3' do %>
      <h4>Replacement Fee</h4>
    <% end %>
    <%= content_tag :div, :class => 'span2' do %>
      <% if current_user.is_admin_in_adminmode? %>
        <h4>Max. Per User</h4>
      <% end %>
    <% end %>
  <% end %>
  <!-- Content Row -->
  <%= content_tag :div, :class => 'row giant-numbers' do %>
    <%= content_tag :div, :class => 'span4' do %>
      <%= number_to_currency(@equipment_model.late_fee) %> / day
    <% end %>
    <%= content_tag :div, :class => 'span3' do %>
      <%= number_to_currency(@equipment_model.replacement_fee) %>
    <% end %>
    <%= content_tag :div, :class => 'span2' do %>      
      <%= @equipment_model.maximum_per_user if current_user.is_admin_in_adminmode? %>
    <% end %>
  <% end %>
</section>
  
<!-- DOCUMENTATION -->
<% if @equipment_model.documentation.exists? %>
<section id="documentation">
  <h2>Documentation</h2><hr />
  <!-- Title Row -->
  <%= content_tag :div, :class => 'row' do %>
    <%= content_tag :div, :class => 'span3' do %>
      <h4>
        <%= (link_to @equipment_model.documentation_file_name, @equipment_model.documentation.url, target: "_blank") unless !@equipment_model.documentation.exists? %>
      </h4>
    <% end %>
  <% end %>
  <!-- Content Row -->
  <%= content_tag :div, :class => 'row' do %>
    <%= content_tag :div, :class => 'span2' do %>
      <%= link_to @equipment_model.documentation.url, target: "_blank" do %>
        <%= content_tag :i, nil, :class => 'icon-file document' %>
      <% end %>
    <% end %>
  <% end %>
  </section>
<% end %>


<!-- Requirements -->
    <% unless reqs.empty? %>
      <section id="items">
        <h2>Requirements</h2><hr/>
          <p>
             This object requires special permission before it can be reserved. Users who wish to reserve this item must receive approval from <%= reqs.first.contact_name %> first. 
           <% if current_user.is_admin_in_adminmode? %> For more specific information, see the <%= link_to "Model Requirements Page", requirements_path %>
           <% end %> 
          </p>
      </section>
    <% end %>

<!-- ITEMS -->
<% if current_user.is_admin_in_adminmode? %>
  <section id="items">
    <h2>Items</h2><hr />
    <p>
      <%= link_to "Create New " + @equipment_model.name.singularize.truncate(30) + " Item", new_equipment_model_equipment_object_path(@equipment_model), :class => 'btn' %>
    </p>
    <p id="equipment_objects">
      <% if @equipment_model.equipment_objects.empty? %>
        (none)
      <% else %>
        <%= render 'equipment_objects_table' %>
      <% end %>
    </p>
  </section>

    
 <!-- PROCEDURES -->
<section id="procedures">
  <h2>Procedures</h2><hr />
  <!-- Title Row -->
  <%= content_tag :div, :class => 'row' do %>
    <%= content_tag :div, :class => 'span4' do %>
      <p><h4>Check-Out</h4></p>
    <% end %>
    <%= content_tag :div, :class => 'span4' do %>
      <p><h4>Check-In</h4></p>
    <% end %>
  <% end %>
  
  <!-- Content Row -->
  <%= content_tag :div, :class => 'row' do %>
    <%= content_tag :div, :class => 'span4' do %>
      <% if @equipment_model.checkout_procedures.empty? %>
        <p>(none)</p>
      <% else %>
        <ol>
          <% @equipment_model.checkout_procedures.each do |checkout_procedure| %>
            <li><%= checkout_procedure.step %></li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
    <%= content_tag :div, :class => 'span4' do %>
      <% if @equipment_model.checkin_procedures.empty? %>
        (none)
      <% else %>
        <ol>
          <% @equipment_model.checkin_procedures.each do |checkin_procedure| %>
            <li><%= checkin_procedure.step %></li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  <% end %>  
  </section>
<% end %>



<div class="form-actions">
  <% if current_user.is_admin_in_adminmode? %>
    <%= link_to "Edit "+@equipment_model.name.truncate(30), edit_equipment_model_path(@equipment_model), :class => 'btn' %>
    <%= link_to "Destroy "+@equipment_model.name.truncate(30), @equipment_model, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
  <% end %>
  <%= link_to "View All "+@equipment_model.category.name.pluralize.truncate(30), category_equipment_models_path(@equipment_model.category), :class => 'btn view_all' %>
</div>
