<% title @equipment_model.category.name.singularize + ": "+@equipment_model.name %>
<%= (link_to (image_tag @equipment_model.photos.first.data.url(:small), :class => 'product_small'), @equipment_model.photos.first.data.url, :target => '_blank' ) unless @equipment_model.photos.empty? %>
<p>
  <%= @equipment_model.formatted_description.html_safe %>
</p>
<p>
  <%= link_to "Add to Cart", {:url => add_to_cart_path(@equipment_model)}, :href => add_to_cart_path(@equipment_model), :remote => true, :class => "btn btn-primary" %>
</p>

<% unless @equipment_model.associated_equipment_models.empty? %>
  <fieldset>
    <legend>Recommended Items:</legend>
    <ul>
      <% @equipment_model.associated_equipment_models.each do |accessory| %>
        <li><%= accessory.name %> <%= link_to "Add to Cart", {:url => add_to_cart_path(accessory)}, :href => add_to_cart_path(accessory), :remote => true, :class => "btn btn-primary" %></li>
      <% end %>
    </ul>
  </fieldset>
<% end %>
<fieldset>
  <legend>Further details:</legend>
  <p>
    <strong>Late Fee:</strong>
    <%= number_to_currency(@equipment_model.late_fee) %> / day
  </p>
  <p>
    <strong>Replacement Fee:</strong>
    <%= number_to_currency(@equipment_model.replacement_fee) %>
  </p>
  <% if (@equipment_model.maximum_renewal_length != 0) and (@equipment_model.maximum_renewal_times != 0) %>
    <p>
      <strong>Maximum Renewal Period:</strong>
      <%= pluralize(@equipment_model.maximum_renewal_length, 'day') %>
    </p>
    <% if @equipment_model.maximum_renewal_days_before_due != "unrestricted" %>
      <p>
        This item is available for renewal <strong>
        <%= pluralize(@equipment_model.maximum_renewal_days_before_due, 'day') %>
        </strong> before the reservation due date.
      </p>
    <% else %>
      <p>
        This item may be renewed <strong>at any time</strong>.
      </p>
    <% end %>
    <p>
      <strong>Maximum Renewals per Reservation:</strong>
      <%= @equipment_model.maximum_renewal_times %>
    </p>
  <% else %>
    <p>
      <strong><em>This item is not available for renewal.</em></strong>
    </p>
  <% end %>

  <% if current_user.is_admin_in_adminmode? %>
    <p>
      <strong>Max Per User:</strong>
      <%= @equipment_model.maximum_per_user %>
    </p>
  <% end %>
  <% if current_user.is_admin_in_adminmode? %>
    <p id="images">
      <strong>Images:</strong>
      <% if @equipment_model.documents.images.empty? %>
        none
        <% if current_user.is_admin_in_adminmode? %>
          <small>
<!-- broken in rails3.1
          <%#= link_to_function "[add image]" do |document|
            document.insert_html :bottom, :images, :partial => 'documents/add_image_form', :object => Document.new
          end %>
-->
          </small>
        <% end %>
      <% else %>
        <ul>
          <% @equipment_model.documents.images.each do |document| %>
            <li><%= link_to document.name, document.data.url %> <%= link_to "[x]", document, :confirm => 'Are you sure you want to delete this document?', :method => :delete %>
            </li>
          <% end %>
          <% if current_user.is_admin_in_adminmode? %>
            <li style="list-style:none">
              <small>
<!-- broken in rails3.1
              <%#= link_to_function "[add image]" do |document|
                document.insert_html :bottom, :images, :partial => 'documents/add_image_form', :object => Document.new
              end %>
-->
              </small>
            </li>
          <% end %>
        </ul>
      <% end %>
    </p>
  <% end %>
  <p id="documents">
    <strong>Documentation:</strong>
    <% if @equipment_model.documents.not_images.empty? %>
      none
      <% if current_user.is_admin_in_adminmode? %>
        <small>
<!-- broken in rails3.1
        <%#= link_to_function "[add document]" do |document|
          document.insert_html :bottom, :documents, :partial => 'documents/add_document_form', :object => Document.new
        end %>
-->
        </small>
      <% end %>
    <% else %>
      <ul>
        <% @equipment_model.documents.not_images.each do |document| %>
          <li><%= link_to document.name, document.data.url %> <%= link_to "[x]", document, :confirm => 'Are you sure you want to delete this document?', :method => :delete %>
          </li>
        <% end %>
        <% if current_user.is_admin_in_adminmode? %>
          <li style="list-style:none">
            <small>
<!-- broken in rails3.1
            <%#= link_to_function "[add document]" do |document|
              document.insert_html :bottom, :documents, :partial => 'documents/add_document_form', :object => Document.new
            end %>
-->
            </small>
          </li>
        <% end %>
      </ul>
    <% end %>
  </p>
  <% if current_user.is_admin_in_adminmode? %>
    <p id="equipment_objects">
      <strong>Equipment Objects:</strong>
      <% if @equipment_model.equipment_objects.empty? %>
        none
        <small>
<!-- broken in rails3.1
        <%#= link_to_function "[add equipment object]" do |document|
          document.insert_html :bottom, :equipment_objects, :partial => 'equipment_objects/add_equipment_object_form', :object => EquipmentObject.new
        end %>
-->
        </small>
      <% else %>
        <ul>
          <% @equipment_model.equipment_objects.each do |equipment_object| %>
            <li>
              <%= link_to equipment_object.name, equipment_object %> 
              (<%= equipment_object.status %>) <%#= link_to "[x]", equipment_object, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %>
              <%= "<br>&nbsp;&nbsp;<small>Serial #: #{equipment_object.serial}</small>".html_safe unless equipment_object.serial.blank? %>
            </li>
          <% end %>
          <li style="list-style:none">
            <small>
<!-- broken in rails3.1
            <%#= link_to_function "[add equipment object]" do |document|
              document.insert_html :bottom, :equipment_objects, :partial => 'equipment_objects/add_equipment_object_form', :object => EquipmentObject.new
            end %>
-->
            </small>
          </li>
        </ul>
      <% end %>
    </p>
    <p>
      <strong>Checkout Procedures:</strong>
      <% if @equipment_model.checkout_procedures.nil? %>
        none
      <% else %>
        <ol>
          <% @equipment_model.checkout_procedures.each do |checkout_procedure| %>
            <li><%= checkout_procedure.step %></li>
          <% end %>
        </ol>
      <% end %>
    </p>
    <p>
      <strong>Checkin Procedures:</strong>
      <% if @equipment_model.checkin_procedures.nil? %>
        none
      <% else %>
        <ol>
          <% @equipment_model.checkin_procedures.each do |checkin_procedure| %>
            <li><%= checkin_procedure.step %></li>
          <% end %>
        </ol>
      <% end %>
    </p>
  <% end %>
</fieldset>

<p>
  <%= link_to "Add new "+@equipment_model.name.singularize+" object", new_equipment_model_equipment_object_path(@equipment_model) %>
</p>


<p>
  <% if current_user.is_admin_in_adminmode? %>
    <%= link_to "Edit "+@equipment_model.category.name.singularize, edit_equipment_model_path(@equipment_model) %> |
    <%= link_to "Destroy "+@equipment_model.category.name.singularize, @equipment_model, :confirm => 'This will permanently delete the Object from your database and could have unintended consequences. You might break all the things. Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to "View All "+@equipment_model.category.name.pluralize, category_equipment_models_path(@equipment_model.category) %>
</p>
