<div class="row">
  <div class="res-cal" data-src="<%= send(@src_path, @resource, format: :json) %>"></div>
</div>
<div class="row" style="text-align: center;">
  <span class="label label-primary">Reserved</span>
  <span class="label label-info">Checked Out</span>
  <span class="label label-success">Returned</span>
  <span class="label label-danger">(Returned) Overdue</span>
  <span class="label label-default" style="background-color: #888;">Missed</span>
</div>
<hr />
<div class="row">
  <div class="col-lg-5">
    <p class="lead">
      Export reservations as an iCalendar-formatted file (e.g. for Google Calendar)
    </p>
  </div>
  <div class="col-lg-7">
    <div id="report_dates">
      <%= form_tag send(@src_path, @resource, format: :ics), method: :get, class: 'form-inline' do %>
        <div class="form-group">
          <%= label_tag :start_date, 'Start of calendar' %>
          <%= text_field "calendar", "start_date", :class => 'date_start_no_min form-control',
            :value => @start_date.strftime('%m/%d/%Y') %>
          <%= hidden_field_tag "calendar[start_date]", @start_date, id: 'date_start_alt' %>
        </div>
        <div class="form-group">
          <%= label_tag :end_date, 'End of calendar' %>
          <%= text_field "calendar", "end_date", :class => 'date_end_no_min form-control',
            :value => @end_date.strftime('%m/%d/%Y') %>
          <%= hidden_field_tag "calendar[end_date]", @end_date, id: 'date_end_alt' %>
        </div>
        <%= submit_tag "Export Calendar", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>