<div class="row">
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <% data_tables.each do |key, value| %>
        <%= content_tag :li, :class => active_tab(key) do %>
          <%= link_to "##{key.to_s}", :class => 'tab-text', :"data-toggle" => 'tab' do %>
            <%= key.to_s.titleize %>
            <%= content_tag :span, value[:rows].size, :class => 'badge tab-badge' %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% data_tables.each do |key, value| %>
      <p>
        <%= content_tag :div, {:class => "tab-pane #{active_tab(key)}", :id => key}, false do %>
          <% unless value.empty? %>
            <%= render :partial => "res_stat_set" , :object => value, :locals => {:key => key} %>
            <% end %>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
</div>