<div id="report_container" class="row">
  <div class="tabbable tabs-left span12">
    <hr>
    <ul class="nav nav-tabs">
      <% data_tables.each do |name, table| %>
        <%= content_tag :li, :class => reports_active_tab(name) do %>
          <%= link_to "##{name.to_s}", :class => 'tab-text', :"data-toggle" => 'tab' do %>
            <%= name.to_s.titleize %>
            <%= content_tag :span, table.rows.size, :class => 'badge tab-badge' %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% data_tables.each do |name, table| %>
        <p>
          <%= content_tag :div, {:class => "tab-pane #{reports_active_tab(name)}", :id => name}, false do %>
            <% unless table.rows.size == 0 %>
              <%= render :partial => "res_stat_set" , :object => table, :locals => {:name => name} %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
