<div id="report_dates">
  <%= form_tag update_dates_path, remote: true do %>
    <%= label_tag :start_date, 'Start of report' %>
    <%= text_field_tag "report", "start_date", :class => 'date_start_no_min autosubmitme span2',
      :value => @start_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "report[start_date]", id: 'start_date_alt' %>
    <%= label_tag :start_date, 'End of report' %>
    <%= text_field_tag "report", "end_date", :class => 'date_end autosubmitme span2',
      :value => @end_date.strftime('%m/%d/%Y') %>
    <%= hidden_field_tag "report[end_date]", id: 'end_date_alt' %>
  <% end %>
</div>
