<div id="report_dates">
  <%= form_tag update_dates_path, remote: true, method: :put, class: 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :start_date, 'Start of report' %>
      <%= text_field "report", "start_date", :class => 'date_start_no_min form-control',
        :value => @start_date.strftime('%m/%d/%Y') %>
      <%= hidden_field_tag "report[start_date]", @start_date, id: 'date_start_alt' %>
    </div>
    <div class="form-group">
      <%= label_tag :start_date, 'End of report' %>
      <%= text_field "report", "end_date", :class => 'date_end_no_min form-control',
        :value => @end_date.strftime('%m/%d/%Y') %>
      <%= hidden_field_tag "report[end_date]", @end_date, id: 'date_end_alt' %>
    </div>
   	<%= submit_tag "Generate Report", class: 'btn btn-primary' %>
  <% end %>
</div>
