<% title ("Report for " + @start_date.strftime("%b %d, %Y") + " to " + @end_date.strftime("%b %d, %Y")) %>
<ul class="breadcrumb">
    <li>
    <%= link_to "Reports", reports_path %>
    <span class="divider">/</span>
    </li>
    <li class="active"><%= @category.name %></li>
</ul>
<%= render :partial => 'reports/report_generator'%>

<h2><%= @category.name %></h2>

<%= render :partial => "data_tables" , :object => @data_tables%>
