<hr />
<div class="row">
  <div id="footer" class="span12">
    
    <div class="well">
      <div class="row">

        <div class="span7">          
          Powered by <a href="https://github.com/YaleSTC/reservations">Reservations</a>, an open source equipment reservation app.<br />
          &copy; 2012 Yale Student Technology Collaborative
        </div>

        <div class="span3">
          <% if current_user && current_user.is_admin? %>
          <span class="inline"><h5>View As:</h5></span>
          <div class="btn-group dropup">
            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
              <%= view_as_selected %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user && current_user.adminmode? %>
                <li class="active">Admin</li>
              <% else %>
                <li><%= link_to 'Admin', {:a_mode => 'ON'}%></li>
              <% end %>
              <% if current_user && current_user.checkoutpersonmode? %>
                <li class="active">Checkout Person</li>
              <% else %>
                <li><%= link_to 'Checkout Person', {:c_mode => 'ON'}%></li>
              <% end %>
              <% if current_user && current_user.normalusermode? %>
                <li class="active">Normal User</li>
              <% else %>
                <li><%= link_to 'Normal User', {:n_mode => 'ON'}%></li>
              <% end %>
              <% if current_user && current_user.bannedmode? %>
                <li class="active">Banned User</li>
              <% else %>
                <li><%= link_to 'Banned User', {:b_mode => 'ON'}%></li>
              <% end %>
            </ul>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>