<div id="navigation_bar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		<% unless @app_configs.nil? || @app_configs.site_title.nil? %>
      <%= link_to sanitize("<i class=\"icon-th-list\"></i> #{site_title}"), root_path, :class => 'brand' %>
		<% end %>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">

      <ul class="nav">

        <li <%= navigation_active catalog_path %><%= navigation_active root_path %>><%= link_to "Catalog", catalog_path %></li>

      <% if current_user && current_user.can_checkout? %>

          <li <%= navigation_active users_path %>><%= link_to "Users", users_path %></li>
          <% if current_user && current_user.is_admin_in_adminmode? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Equipment <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Equipment Models", equipment_models_path %></li>
                <li><%= link_to "Equipment Items", equipment_objects_path %></li>
                <li><%= link_to "Requirements", requirements_path %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Equipment", equipment_objects_path %></li>
          <% end %>
        <% end %>
        <%# test if current_user first because if there is no current user (i.e., no login), do not show %>
        <% if current_user %>
          <!-- Reservations Dropdown -->

          <li id="my_reservations" class="dropdown">
            <% if current_user and current_user.can_checkout? %>
              <%= link_to "Reservations", reservations_path %>
            <% else %>
              <%= link_to sanitize("My Reservations &nbsp;<span class=\"badge\">#{reservations_count}</span> <b class=\"caret\"></b>"), '#', class: 'dropdown-toggle', :"data-toggle" => 'dropdown' %>
            <% end %>
            <% if current_user and !current_user.can_checkout? %>
              <ul class="dropdown-menu">
                <li class="nav-header"><h3>My Current Reservations</h3></li>
                <% unless @current_reservations.blank? %>
                  <% @current_reservations.each do |res| %>
                    <li>
                      <%= link_to "#{res.equipment_model.name}
                                   (#{res.start_date.to_date.to_s(:long)} &ndash;
                                   #{res.due_date.to_date.to_s(:long)})".html_safe, res, rel: 'popover',
                                   title: res.equipment_model.name, :"data-content" => markdown(res.equipment_model.description).truncate(100) %>
                    </li>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "See More...", reservations_path %></li>
                <% else %>
                  <li><div class="none-text">(none)</div></li>
                <% end %>
              </ul>
            <% end %>

          </li>

          <!-- Equipment Dropdown -->
          <% if current_user and !current_user.can_checkout? %>
          <li id="my_equipment" class="dropdown">
            <%= link_to '#', class: 'dropdown-toggle', :"data-toggle" => 'dropdown' do %>
              <% if current_user && !current_user.can_checkout? %>
                <%= sanitize("My Equipment &nbsp;<span class=\"badge\">#{equipment_count}</span> <b class=\"caret\"></b>") %>
              <% end %>
            <% end %>
            <% equipment_count %>
            <ul class="dropdown-menu">
              <li class="nav-header"><h3>My Current Equipment</h3></li>
              <% unless @current_equipment.blank? %>
                <% @current_equipment.each do |res| %>
                <li>
                  <%= link_to "#{res.equipment_model.name} (#{res.equipment_object.name})", res.equipment_model,
                  rel: 'popover', title: res.equipment_model.name, :"data-content" => markdown(res.equipment_model.description).truncate(100) %>
                </li>
                <li class="divider"></li>
                <li><%= link_to "See More...", reservations_path %></li>
                <% end %>
              <% else %>
                <li><div class="none-text">(none)</div></li>
              <% end %>
            </ul>
          </li>
          <% end %>
        <% end %>

        <!-- Admin Dropdown -->
        <% if current_user && current_user.is_admin_in_adminmode? %>
          <li class="divider-vertical"></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Blackout Dates", black_outs_path %></li>
                  <li><%= link_to "Reports", reports_path %></li>
                  <li><%= link_to "Settings", edit_app_configs_path %></li>
                </ul>
              </li>
        <% end %>

          <li class="divider-vertical"></li>
      </ul>

      <!-- SEARCH BOX -->
      <%= form_tag catalog_search_path, class: 'navbar-search pull-left' do %>
          <%= search_field_tag 'query', (params[:query] unless params[:query].blank?), class: 'search-query span2', placeholder: 'Search the catalog' %>
      <% end %>
      <!-- Current User Dropdown -->
      <ul class="nav pull-right" id="logged_in">
      <% if current_user.nil? %>
        <li><%= link_to "Sign In" %></li>
      <% elsif current_user %>
      	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>
        	<%= current_user.name %>
      	  <b class="caret"></b></a>
        	<ul class="dropdown-menu">
          	<li><%= link_to "My Profile", current_user %></li>
      	    <li><%= link_to "Log Out", logout_path %></li>
    	    </ul>
  	    </li>
  	  <% end %>
    </ul>
    </div>
  </div>
</div>
</div>
