<!DOCTYPE html>
<html>

  <!-- ================== HTML HEAD ================== -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tag %>
    <title><%= ("#{site_title}" + ( content_for?(:title) ? " &raquo; #{yield(:title)}" : "")).html_safe %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application'%>
    <%= yield(:head) %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <!-- ================ END HTML HEAD ================ -->

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "<i class=\"icon-th-list\"></i> #{site_title}".html_safe, root_path, :class => 'brand' %>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
          <ul class="nav">
            <li <%= navigation_active catalog_path %><%= navigation_active root_path %>><%= link_to "Catalog", catalog_path %></li>
          <% if current_user && current_user.can_checkout? %>
            <% if current_user.is_admin_in_adminmode? %>
            <li <%= navigation_active users_path %>><%= link_to "Users", users_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Equipment <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if current_user.is_admin_in_adminmode? %>
                  <li><%= link_to "Categories", categories_path %></li>
                  <li><%= link_to "Equipment Models", equipment_models_path %></li>
                  <% end %>
                  
                  <li><%= link_to "Equipment Objects", equipment_objects_path %></li>
                </ul>
            </li>
            <li <%= navigation_active reservations_path %>><%= link_to (current_user.can_checkout? ? "Reservations" : "My Reservations"), reservations_path %></li>
            <% if current_user.is_admin_in_adminmode? %>
            <li <%= navigation_active edit_app_config_path %>><%= link_to "App Settings", edit_app_config_path %></li>
            <% end %>
          <% end %>
            <li class="divider-vertical"></li>            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Links <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to Settings.home_link_text, Settings.home_link_location %></li>
                  <li><%= link_to Settings.contact_link_text, Settings.contact_link_location %></li>
                </ul>
              </li>
            <li class="divider-vertical"></li>
            <!-- ==== VIEW-AS MODE ==== -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> View As <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if current_user && current_user.is_admin? %>
        	          <% if current_user.adminmode? %>
                    <li class="active">Admin</li>
        	          <% else %>
                    <li><%= link_to 'Admin', {:a_mode => 'ON'}%></li>
                    <% end %>
        	          <% if current_user.checkoutpersonmode? %>
                    <li class="active">Checkout Person</li>
        	          <% else %>
                    <li><%= link_to 'Checkout Person', {:c_mode => 'ON'}%></li>
                    <% end %>
        	          <% if current_user.normalusermode? %>
                    <li class="active">Normal User</li>
        	          <% else %>
                    <li><%= link_to 'Normal User', {:n_mode => 'ON'}%></li>
                    <% end %>
        	          <% if current_user.bannedmode? %>
                    <li class="active">Banned User</li>
        	          <% else %>
                    <li><%= link_to 'Banned User', {:b_mode => 'ON'}%></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
          </ul>
          <!-- Current User Dropdown -->
          <ul class="nav pull-right" id="logged_in">
          <% if current_user.nil? %>
            <li><%= link_to "Sign In" %></li>
          <% elsif current_user %>
          	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> 
            	<%= current_user.name %>
          	  <b class="caret"></b></a>
            	<ul class="dropdown-menu">
              	<li><%= link_to "My Profile", current_user %></li>
          	    <li><%= link_to "Log Out", logout_path %></li>
        	    </ul>
      	    </li>
      	  <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
    
    
    <div class="container">
      <% # flash messages, if any %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name == :notice ? "success" : "error"}" do %>
          <%= msg %>
          <button class="close" data-dismiss="alert">×</button>
        <% end %>
      <% end %>
      <div class="row">

    	<!-- ================ MAIN PAGE CONTENT ================ -->
      <div id="content" class="span9">
    	  <% if show_title? %>
      	  <div class="page-header">
            <h1><%= yield(:title) %></h1>
          </div>
        <% end %>
    		<%= content_for?(:body) ? yield(:body) : yield %>
			</div>
      <!-- ================ END MAIN PAGE CONTENT ================ -->

      <!-- ================ RIGHT SIDEBAR ================ -->
    	<div id="sidebar-right">
    	  <div id="sidebarbottom" class="span3">

      	    <%= render :partial => 'reservations/cart_sidebar' %>
    	    <br style="clear: both" />
    	    <%= render :partial => 'reservations/reservations_sidebar' if current_user %>
  	    <% unless current_user.nil? or current_user.reservations.empty? %>
    	    <div id="equipment">
            <h3>My current equipment:</h3>
            <%= render :partial => 'users/current_equipment', :object => current_user %>
          </div>
  	    <% end %>
        <%= yield(:right_sidebar) %>
    	  </div>
    	</div>
      <!-- ================ END RIGHT SIDEBAR ================ -->
      </div>
      <hr />

      <!-- ================ FOOTER ================ -->
      <div id="footer" class="row well">
        <div class="span5">
          Reservations, an open source equipment reservation app
        </div>
        <div class="span5">
          2012 YaleSTC
        </div>
      </div>
      <!-- ================ END FOOTER ================ -->
    </div>
  </body>
</html>
