<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tag %>
    <title><%= ("#{site_title}" + ( content_for?(:title) ? " &raquo; #{yield(:title)}" : "")).html_safe %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application'%>
    <%= yield(:head) %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!--HEADER SECTION-->
        <div id="header" class="hero-unit">
          <h1><%= "#{site_title}" %></h1>
        </div>
      </div>
      <% # flash messages, if any %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name == :notice ? "success" : "error"}" do %>
          <%= msg %>
          <button class="close" data-dismiss="alert">×</button>
        <% end %>
      <% end %>
      <div class="row">
      <!-- ================ LEFT SIDEBAR ================ -->
    	<div id="sidebar-left">
    	  <div id="sidebarbottom" class="span2">
  			    <ul class="nav nav-list well">
              <li class="active"><%= link_to "Catalog", catalog_path %></li>
            <% if current_user.nil? %>
              <li><%= link_to "Sign In" %></li>
            <% elsif current_user.is_admin_in_adminmode? %>
              <li><%= link_to "Users", users_path %></li>
            <% else %>
              <li><%= link_to "My Profile", user_path(current_user) %></li>
            <% end %>
            <% if current_user and current_user.is_admin_in_adminmode? %>
              <li><%= link_to "Categories", categories_path %></li>
              <li><%= link_to "Equipment Models", equipment_models_path %></li>
            <% end %>
            <% if current_user and current_user.can_checkout? %>
              <li><%= link_to "Equipment Objects", equipment_objects_path %></li>
            <% end %>
              <li><%= link_to "Reservations", reservations_path %></li>
            <% if current_user and current_user.is_admin_in_adminmode? %>
              <li><%= link_to "App Settings", edit_app_config_path %></li>
            <% end %>
              <li class="divider"></li>
              <li><%= link_to Settings.home_link_text, Settings.home_link_location %></li>
              <li><%= link_to Settings.contact_link_text, Settings.contact_link_location %></li>
              <li class="divider"></li>
              <!-- ==== VIEW-AS MODE ==== -->
			      <% if current_user and current_user.is_admin? %>
		          <li class="nav-header">View as:</li>
		          <% if current_user.adminmode? %>
              Admin
		          <% else %>
              <li><%= link_to 'Admin', {:a_mode => 'ON'}%></li>
              <% end %>
		          <% if current_user.checkoutpersonmode? %>
              Checkout Person
		          <% else %>
              <li><%= link_to 'Checkout Person', {:c_mode => 'ON'}%></li>
              <% end %>
		          <% if current_user.normalusermode? %>
              Normal User
		          <% else %>
              <li><%= link_to 'Normal User', {:n_mode => 'ON'}%></li>
              <% end %>
		          <% if current_user.bannedmode? %>
              Banned User
		          <% else %>
              <li><%= link_to 'Banned User', {:b_mode => 'ON'}%></li>
              <% end %>
	          <% end %>
              <!-- ==== END VIEW-AS MODE ==== -->
            </ul>
          <%= yield(:left_sidebar) %>
    	  </div>
    	</div>
      <!-- ================ END LEFT SIDEBAR ================ -->

    	<!-- ================ MAIN PAGE CONTENT ================ -->
      <div id="content" class="span7">
    	  <% if show_title? %>
      	  <div class="page-header">
            <h1><%= yield(:title) %></h1>
          </div>
        <% end %>
    		<%= content_for?(:body) ? yield(:body) : yield %>
			</div>
      <!-- ================ END MAIN PAGE CONTENT ================ -->

      <!-- ================ RIGHT SIDEBAR ================ -->
    	<div id="sidebar-right">
    	  <div id="sidebarbottom" class="span3">
    	  <% if current_user %>
    	    <div id="logged_in">
    	      logged in as <%= link_to current_user.name, current_user %>
    	      <%= link_to "[log out]", logout_path %>
  	      </div>
    	  <% end %>
      	    <%= render :partial => 'reservations/cart_sidebar' %>
    	    <br style="clear: both" />
    	    <%= render :partial => 'reservations/reservations_sidebar' if current_user %>
  	    <% unless current_user.nil? or current_user.reservations.empty? %>
    	    <div id="equipment">
            <h3>Your current equipment:</h3>
            <%= render :partial => 'users/current_equipment', :object => current_user %>
          </div>
  	    <% end %>
        <%= yield(:right_sidebar) %>
    	  </div>
    	</div>
      <!-- ================ END RIGHT SIDEBAR ================ -->
      </div>
      <hr />

      <!-- ================ FOOTER ================ -->
      <div id="footer" class="row well">
        <div class="span5">
          Reservations, an open source equipment reservation app
        </div>
        <div class="span5">
          2012 YaleSTC
        </div>
      </div>
      <!-- ================ END FOOTER ================ -->
    
    </div><!-- closes itg_wrapper -->
		

  </body>
</html>
