<!DOCTYPE html>
<html>
  <%# ================== HTML HEAD ================== %>
  <%= render 'layouts/head' %>

  <body data-spy="scroll" data-target=".subnav" data-offset="100">
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= render 'layouts/flash' %>
      <div class="row">

        <%# ================ MAIN PAGE CONTENT ================ %>
      	<%= render 'layouts/content_with_sidebar' %>

        <%# ================ RIGHT SIDEBAR ================ %>
        <%= render 'layouts/sidebar' %>
      </div>

      <%# ================ FOOTER ================ %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>